@charset "utf-8";
/**************************************************

    customize.css
    Ver.1.0.0 2020/03/24

**************************************************/

/**************************************************
    視聴ボタン
**************************************************/
ul.button_list {
    width:280px !important;
    padding:0 !important;
    margin:12px 0 !important;
}
.button_list li{
    width:100%;
    list-style:none !important;
    margin:0 0px 12px 0 !important;
    padding:0 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.button_list li a {
     display:block;
    text-decoration:none !important;
    width: 100%;
    height:57px;
    line-height: 57px;
    padding-left: 16px;
    margin:0 auto;
    font-size: 1.5em;
    font-weight: bold;
    color:#ffffff !important;
    background-color:#FECE63;
    display:inline-block;
    cursor:pointer;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
    text-align:center;
    background: url(../img/btn_blue.gif) no-repeat;
}
.button_list li:nth-child(odd) a{
    background: url(../img/btn_orange.gif) no-repeat;
}

.button_list li a:hover{
    opacity: 0.8;
}

.player {
	width: 100%;
	position: relative;
}
.player::after {
	content: "";
	display: block;
	width: 100%;
	padding-bottom: 56.25%;
}
.player > iframe,
.player > div {
	width: 100%;
	height: 100%;
	position: absolute;
}


/* .btnArea
******************************/

#main .btnArea, #main .btnArea2, #main .btnArea3, #main .btnArea_off, #main .btnArea2_off, #main .btnArea3_off{
	margin:0 0 12px;
	width: 280px;
	height: 57px;
}

#main .btnArea_off, #main .btnArea2_off, #main .btnArea3_off{
	background: url(../img/btn_off.gif) no-repeat;
}

#main .btnArea p, #main .btnArea2 p, #main .btnArea_off p, #main .btnArea2_off p, #main .btnArea3 p{
	padding: 16px 0 0 43px;
	font-size: 1.8em;
	font-weight: bold;
	color: #fff;
}

#main .btnArea_off p, #main .btnArea2_off p, #main .btnArea3_off p{	
	color: #666;
}

#main .btnArea a, #main .btnArea2 a{
	background: url(../img/btn_on.gif) no-repeat;
	width: 281px;
	height: 57px;
	display:block;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
}

#main .btnArea3 a{
	background: url(../img/btn_blue.gif) no-repeat;
	width: 281px;
	height: 57px;
	display:block;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
}


#main .btnArea a:link, #main .btnArea2 a:link, #main .btnArea3 a:link{
	width: 281px;
	height: 57px;
	display:block;
	filter:alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)"; /* IE 8 */
	-moz-opacity: 1;
	opacity: 1;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
	text-decoration: none;
}

#main .btnArea a:hover, #main .btnArea2 a:hover, #main .btnArea3 a:hover{
	width: 281px;
	height: 57px;
	display:block;
	filter:alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)"; /* IE 8 */
	-moz-opacity: 0.8;
	opacity: 0.8;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
}

#main .btnArea2{
	margin:30px 0 12px;
	width: 281px;
	height: 57px;
}

.flt-r h2 {
	background-image: url(../img/ttl_midashi_s.gif);
	width: 269px;
	height: 39px;
	padding: 0 0 0 15px;
	line-height: 2.5em;
}