@charset "UTF-8";
/* -------------------------------------------------------------------

    font

-------------------------------------------------------------------- */
@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Bold.woff2") format("woff2"),
    url("../font/OpenSans-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Regular.woff2") format("woff2"),
    url("../font/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
}

h1 {
  font-size: 20px;
  height: 5em;
  border-left: 2px solid;
  border-right: 2px solid;
}

.wrap {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.container {
  flex: 0 1 50%;
  width: 50%;
}

.font {
  width: 100%;
  font-size: 60px;
  word-wrap: break-word;
  line-height: 80px;
  letter-spacing: 10px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #333;
}

.font01 {
  font-family: "OpenSans", serif;
  font-weight: 500;
}

.font02 {
  font-family: "OpenSans", serif;
  font-weight: normal;
}
