@charset "utf-8";
body {
	line-height: 1.5;
	min-height: 100%;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: #1e5799;
}
a:hover {
	text-decoration: none;
}

/*
* ヘッダー
*/
header {
    width:100%;
	background: #fff;
	border-bottom: 3px solid #007CBD;
	color:#333;
	margin: 0 auto 10px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0px 10px 10px 10px !important;
	text-align:center;
	line-height:25px;
}
header .logo {
    width:100%;
	margin: 0px auto;
    text-align:center;
	margin-bottom: 10px;
}
header .logo img {
	width: 60%;
	max-width: 180px;
}
header .small {
	font-weight:300;
    display:block;
	font-size: 0.8em;
}

.devfont {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	line-height:25px;
	font-size: 1.4em;
	margin: 0;
}

/*
* フッター
*/
footer {
	width:100%;
	min-height:36px;
	font-size: 0.7em;
	text-align: center;
	background-color: #2a276e;
	border-top: 1px solid #2a276e;
}
footer>div {
	padding:9px 10px;
	line-height:18px;
	color:#fff;
	position: relative;
}

.container {
	position: relative;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 10px 36px 10px;
	
}


/**
 メインエリア 
*/
.main, .main_ondemand {
    width:100%;
	margin: 5px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.movie {
	padding-bottom: 56.25%;
	position: relative;
}
.movie .livePlayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.gray {
	background-color: #eee;
	padding: 15px 20px 5px 20px;
}

iframe {
	width: 100%;
}

.bbs_iframe {
	height:240px;
}


/* liveInformation */
.liveInformation {
	font-size: 1em;
	font-weight: bold;
	color: #666;
	margin-top: 15px;
	margin-bottom: 10px;
}
.liveInformation ul + p,
.liveInformation p + ul {
	margin-top: 1em;
}
.liveInformation .text01 {
	font-size: 1.1em;
}
.liveInformation .text01 + p {
	margin-top: 0.8em;
}
.liveInformation .notice {
	font-size: 0.8em;
	margin-top: 0.5em;
}
.liveInformation .notice li {
	margin-bottom:0.5em;
}

/* Environment */
#Environment {
	width: auto;
	margin-top:20px;
}
#Environment .card-content {
	padding:5px 10px;
}
div.topbox h3 {
	font-size: 0.8rem;
}
div.topbox li {
	font-size: 1.2rem;
}
div.topbox ul {
	margin-top: 4px;
}
#Environment .win,
#Environment .mac,
#Environment .mac_sp,
#Environment .android {
	float:none;
	margin-top: 15px;
	width: auto;
}

.question_text{
	font-size:0.8em; 
}

.quolityInfo {
	text-align:center;
	background-color: #fff;
    width: 100％;
	height: 32px;
    line-height: 32px;
	font-weight:700;
	text-decoration: underline;
	color: #333;
	margin:5px 0;
}

/**
* 段組みボタン（クオリティ選択用）　
**/
.btnColList {
	width:100%;
    position: relative;
	margin:10px 0;
}
.btnColList li {
	width:96%;
    height:44px;
	margin:5px 2%;
}
/** 段組予定だったが、廃止しため。空白li非表示化 */
.btnColList>li div.none_pc {
    display:none;
}
.btnColList>li a, .btnColList>li p  {
	width:100%;
	display: block;
	text-align:center;
	background-color: #703e97;
	background: linear-gradient(180deg, #703e97, #703e97);
	border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1em;
    height:44px;
    line-height:44px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
    text-decoration:none!important;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
}
.btnColList>li p.none  {
	background-color:transparent;
	background:none;
}
.btnColList>li a:hover{
	filter:alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)"; /* IE 8 */
	-moz-opacity: 0.8;
	opacity: 0.8;
}
.btnColList:after {
	content: "";
	display: block;
	clear: both;
}