@charset "utf-8";
body {
  line-height: 1.5;
  padding-bottom: 100px;
  min-height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  min-width: 600px;
  margin-top: 50px;
  margin: 50px auto 0 auto;
}

a {
  color: #1e5799;
}
a:hover {
  text-decoration: none;
}
p + p {
  margin-top: 1.5em;
}

.small {
  font-size: 17px;
}
.big {
  font-size: 1.4em;
  line-height: 30px;
}

.form {
  max-width: 600px;
  margin: 15px auto;
}

/*
* ヘッダー
*/
header {
  background: #fff;
  border-bottom: 3px solid #703e97;
  color: #333;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  line-height: 25px;
}
header::after {
  content: "";
  display: block;
  clear: both;
}
header .header_wrap {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
header .header_wrap > div {
  height: 100%;
  text-align: center;
}
header .logo {
  display: inline-block;
	width: 150px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.logo {
  margin: 0px auto;
  text-align: center;
  margin-bottom: 10px;
}
.logo img {
  width: 100%;
  max-width: 100%;
}
.devfont {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 1.4em;
  line-height: 25px;
  font-weight: bold;
}

/*
* フッター
*/
footer {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 0.7em;
  text-align: center;
  background-color: #2a276e;
  border-top: 1px solid #2a276e;
  bottom: 0;
  left: 0;
}
footer > div {
  padding: 0 30px;
  color: #fff;
  position: relative;
  text-align: right;
}

.form_content {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #868686;
  background-color: #e5e5e5;
  padding: 25px;
  box-sizing: border-box;
}
.input {
  line-height: 36px;
}
.input + .input {
  margin-top: 10px;
}
.input::after {
  content: "";
  display: block;
  clear: both;
}
.input div:first-child {
  float: left;
  width: 120px;
}
.inputName {
  font-weight: bold;
  color: #703e97;
}
.input input {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
}
.input input[type="text"],
.input input[type="password"] {
  width: 420px;
  height: 34px;
  padding-left: 5px;
  padding-right: 5px;
}
.input select {
  width: 15em;
  height: 34px;
  border: 1px solid #ccc;
}
.input label + label {
  margin-left: 15px;
}
#info {
  font-size: 14px;
  color: #f00;
  line-height: 20px;
  text-align: center;
  margin-top: 5px;
  /* height: 35px; */
}
#info p + p {
  margin-top: 5px;
}

.login {
  margin-top: 20px;
  text-align: center;
}
.login a {
  margin: 0 auto;
  color: #fff;
  width: 200px;
  height: 40px;
  background-color: #703e97;
  text-align: center;
  padding: 10px 80px;
  box-sizing: border-box;
  cursor: pointer;
}
.login a:hover {
  opacity: 0.7;
}


.login a.disabled {
  color: #fff;
  background-color: #707080;
  cursor: default;
}
.login a.disabled:hover {
  opacity: 1;
}

.pass_co {
  visibility: visible !important;
}
.notes_box {
  font-size: 0.9em;
  text-align: left;
  line-height: 20px;
  margin-top: 10px;
}
.notes_box li {
  text-decoration: underline;
  text-decoration-color: #333;
}
.notes_box li + li {
  margin-top: 5px;
}
