@charset "UTF-8";
/* CSS Document */

.inner {
	padding: 15px;
}
#header .headerImg {
	text-align: center;
	margin-bottom: 15px;
}
#header .headerImg img {
	width: auto;
	height: 30px;
}
#header .headerTitle {
	font-size: 18px;
	text-align: center;
}
#footer {
	margin-top: 30px;
	padding: 15px;
}
#footer .copyright {
	font-size: 10px;
	text-align: center;
}
.title01 {
	margin-bottom: 15px;
	padding-left: 10px;
}
.title01 span {
	font-size: 11px;
}
.section01 {
	padding: 30px 0px;
	border-bottom: 1px solid #D2D2D2;
}
.section01 .txt01 {
	padding-left: 15px;
	margin-bottom: 15px;
}
.pageTop {
	margin-right: 15px;
}
.loading {
	background-size: 40px auto;
	-moz-background-size: 40px auto;
	-webkit-background-size: 40px auto;
}



/* --------------------------------------------------
	enquete
-------------------------------------------------- */
#contents .enqBox01 {
	padding: 20px 15px;
}
#contents .enqBox01 dd {
	margin-left: 25px;
	margin-bottom: 10px;
}
#contents .enqBox01 input[type="radio"],
#contents .enqBox01 input[type="checkbox"] {
	top: 0px;
}
#contents .enqBox01 select {
	font-size: 14px;
	height: 30px;
}
#contents .enqBox01 input[type="text"] {
	line-height: 34px;
}
#contents .enqBox01 textarea {
	height: 80px;
}
#contents .btnSubmit {
	font-size: 18px;
	line-height: 45px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#contents .btnSubmit span {
	background-image: url(../images/arrow_submit_sp.png);
	background-repeat: no-repeat;
	background-position: left center;
	-webkit-background-size: 8px 10px;
	-moz-background-size: 8px 10px;
	-ms-background-size: 8px 10px;
	background-size: 8px 10px;
	padding-left: 15px;
}
#contents .confirmTxt {
	font-size: 16px;
	margin-bottom: 20px;
}
