@charset "UTF-8";
/* CSS Document */

.inner {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#header {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 50px;
}
#header .headerImg {
	line-height: 40px;
	float: left;
	margin-right: 30px;
}
#header .headerImg img {
	width: auto;
	height: 40px;
}
#header .headerTitle {
	font-size: 24px;
	line-height: 40px;
}
#footer {
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#footer .copyright {
	font-size: 12px;
	text-align: center;
}
.title01 {
	font-size: 20px;
	margin-bottom: 30px;
	padding-left: 10px;
}
.title01 span {
	font-size: 14px;
}
.section01 {
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #D2D2D2;
}
.section01 .txt01 {
	padding-left: 15px;
	margin-bottom: 30px;
}



/* --------------------------------------------------
	enquete
-------------------------------------------------- */
#contents .enqBox01 {
	margin: 0px 135px;
	padding: 40px;
}
#contents .enqBox01 dd {
	margin-left: 35px;
	margin-bottom: 20px;
	font-size: 18px;
}
#contents .enqBox01 select {
	height: 30px;
	font-size: 18px;
}
#contents .enqBox01 input[type="text"] {
	line-height: 34px;
	height: 34px;
}
#contents .enqBox01 textarea {
	height: 80px;
}
#contents .btnSubmit {
	width: 280px;
	margin: 0px auto 50px;
	font-size: 28px;
	line-height: 66px;
}
#contents .btnSubmit span {
	background-image: url(../images/arrow_submit.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}
#contents .confirmTxt {
	font-size: 20px;
	margin-bottom: 40px;
}
