@charset "UTF-8";
/* CSS Document */

/* --------------------------------------------------

	Basic CSS

-------------------------------------------------- */
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	line-height: 1;
	color: #333;
}
#header {
	line-height: 1.2;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 5px 0 #bbb;
	box-shadow: 0 5px 5px 0 #bbb;
}
#header .headerTitle {
	font-weight: bold;
}
#footer {
	background-color: #ddd;
}
#contents {
	line-height: 1.5;
}
a {
	text-decoration: underline;
	color: #333;
}
a:hover {
	text-decoration: none;
}
.title01 {
	font-weight: bold;
	border-left: 5px solid #e60012;
}
.title01 span {
	color: #e60012;
	margin-left: 1em;
}
.pageTop {
	font-size: 12px;
	text-align: right;
}
.loading {
	height: 400px;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.loading * {
	display: none;
}



/* --------------------------------------------------
	enquete
-------------------------------------------------- */
#contents .enqBox01 {
	background-color: #F8F8F8;
	border: 1px solid #D2D2D2;
}
#contents .enqBox01.selectBox {
	text-align: center;
}
#contents .enqBox01 dl {
}
#contents .enqBox01 dl:after {
	content: "";
	clear: both;
	display: block;
}
#contents .enqBox01 dt{
	float: left;
	clear: both;
}
#contents .enqBox01 dd:last-child {
	margin-bottom: 0;
}
#contents .enqBox01 input[type="radio"],
#contents .enqBox01 input[type="checkbox"] {
	position: relative;
	top: 4px;
}
#contents .enqBox01 select {
	border: 1px solid #D2D2D2;
	background-color: #fff;
	max-width: 100%;
}
#contents .enqBox01 select::-ms-expand {
}
#contents .enqBox01 input[type="text"],
#contents .enqBox01 textarea {
	font-size: 14px;
	line-height: 20px;
	background-color: #fff;
	width: 100%;
	border: 1px solid #C9C9C9;
	box-sizing: border-box;
}
#contents .btnSubmit {
	display: block;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	border: 1px solid #9F9F9F;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dedede+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,
#ffffff 0%,
#dedede 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,
#ffffff 0%,
#dedede 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,
#ffffff 0%,
#dedede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede', GradientType=0 ); /* IE6-9 */
}
#contents .confirmTxt {
	color: #D50000;
	text-align: center;
}
