/*-----------------------------------------------
	Browser Reset
-----------------------------------------------*/
html,
body {
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: none;
	font-family: "游ゴシック", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

h1,h2,h3,h4,h5,h6,pre,address,em,strong,th,ins {
	font-size: 100%;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6,pre,address,ul,ol,li,dl,dt,dd,form,legend,p {
	margin: 0;
	padding: 0;
}

table,tr, td, th {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: 0;
}
img {
    border: 0;
    vertical-align: bottom;
}
ul,
ul, li {
	list-style-type: none;
}

header, section, footer, aside, nav, article, figure, main {
	margin: 0;
	padding: 0;
	display: block;
}

body,th,td {
	word-wrap : break-word;
}

button,
input,
select,
textarea {
	font-family: inherit;
}

input[type="text"],
input[type="password"],
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
textarea {
	resize: none;
}

/*---------------------------------------
    shared
---------------------------------------*/
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.clearFloat {
	clear: both;
}
.c-fix:after{display:block;content:"";clear:both;}
.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.center {
	text-align: center !important;
}
.bold {
	font-weight: bold !important;
}
.normal {
	font-weight: normal !important;
}

/* Margin top */
.mt0 {
	margin-top: 0px !important;
}
.mt5 {
	margin-top: 5px !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt25 {
	margin-top: 25px !important;
}
.mt30 {
	margin-top: 30px !important;
}

/* Margin Bottom */
.mb1em {
	margin-bottom: 1em !important;
}
.mb0 {
	margin-bottom: 0px !important;
}
.mb5 {
	margin-bottom: 5px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb15 {
	margin-bottom: 15px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mb25 {
	margin-bottom: 25px !important;
}
.mb30 {
	margin-bottom: 30px !important;
}

/* Margin Bottom */
.mr0 {
	margin-right: 0px !important;
}

/* Clear Fix shared */
.clearAll {
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}

.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}
.underline {
	text-decoration: underline;
}

.midashi_bar p {
	border-left:3px solid #001e46;
	background-color: #703e97;
    width: 100％;
	height: 39px;
    font-size: 1.1em;
    line-height: 1.8em;
    padding: 5px 0 0 10px;
	color:#fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	margin-bottom:5px;
}
.midashi_bar p.small {
	height: 30px;
    font-size: 0.8em;
    line-height: 1.5em;
}
.card {
    width: 100%;
	background: #fff;
	box-shadow: 0 2px 5px #ccc;
	margin-bottom: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
 }
.card>p{
	background-color: #703e97;
    font-size: 1.3em;
    line-height: 2em;
	margin-bottom: 10px;
    padding: 0 0 0 20px;
	color:#fff;
}
.card-content {
	padding: 5px 20px 20px 20px;
}
.card-content p{
	font-weight:700;
}
.card .desc {
	margin:5px 1em;
}
.card .desc li {
	margin-bottom:10px;
}
.card-content .small {
    font-size: 0.8em;
}
.card-content .big {
    font-size: 1.2em;
}

.question_text{
	font-size:0.9em; 
	margin:10px 3px;
}

.info01 {
	background-color: #ecf5ea;
	margin-top: 30px;
	padding: 10px;
}
.info01 p {
	font-size: 14px !important;
}

/* Environment
******************************/
#Environment {
	clear: both;
	margin:50px auto 15px auto;
	margin-top: 50px;
}
#Environment h3 {
	font-size:1em;
	font-weight:700;
}
#Environment div {
	font-size:1em;
}
#Environment .win {
	float:left;
	width:150px;
}
#Environment .mac {
	float:left;
	width:190px;
}
#Environment .mac_sp {
	float:left;
	width:160px;
}
#Environment .android {
	float:left;
	width:280px;
}
#Environment .notes {
	margin-top: 15px;
}
#Environment li {
	font-size:0.8em;
}
#Environment .notes li {
	padding-left: 1em;
	text-indent: -1em;
}

.description {
	padding: 0 10px;
	font-size:0.8em;
	font-weight:bold;
}

/* #question2
******************************/
#question2{
	background:#F0F2F5;
	border:solid 1px #DBDFE8;
    font-size:0.7em;
}
#p_intro #question2{
	margin:28px 0 0;
	padding:15px 20px 10px;
}
#question2{margin:0 0 21px;padding:12px 9px;
}
#question2 label,#question input,#question2 textarea{display:inline-block;}
#question2 label,#question2 input{}
#question2 label{vertical-align:middle;}
#p_intro #question2 label{
	width:106px;margin:0 14px 8px 0;text-align:right;
}
#question2 label{width:85px;margin:0 5px 8px 0;}
#question2 label.comment{
	width:100%;margin:0 5px 8px 0;
}
#question2input{
	margin:0 0 8px;
	border:solid 1px #DBDFE8;
	font-size:1.0em;
	line-height:28px;
	vertical-align:middle;
}
#question2 input{
	width:100%;height:23px;
    margin-bottom:3px;
}
#question2 textarea{border:solid 1px #DBDFE8;font-size:1.0em;vertical-align:top;}
#p_intro #question2 textarea{width:900px;height:94px;margin:0 0 4px;}
#question2 textarea{width:100%;height:73px;margin:0 0 10px;}
#question2 button{padding:4px 0;border:none 0;background:none;cursor:pointer;}
#formtext{margin:10px 0px;}
#question2 input[type="button"]{
	margin:0 auto;}


/* .btnArea
******************************/

.btnArea>div, .btnArea2>div{
	margin:0 0 12px;
	width: 281px;
	height: 57px;
}
 .btnArea2>div{
	margin-top:30px;
	margin-bottom:12px;
}
.btnArea .disabled, .btnArea2 .disabled {
	background: url(../img/btn_off.gif) no-repeat;
}
.btnArea p, .btnArea2 p{
	padding: 0 0 0 43px;
	height: 57px;
	line-height: 57px;
	font-size: 1.3em;
	font-weight: bold;
	color: #fff;
}
.btnArea .disabled p, .btnArea2 .disabled p{	
	color: #666;
}

.btnArea a, .btnArea2 a{
	background: url(../img/btn_on.gif) no-repeat;
	width: 100%;
	height: 57px;
	display:block;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
}
.btnArea a:link, .btnArea2 a:link{
	width: 100%;
	height: 57px;
	display:block;
	filter:alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)"; /* IE 8 */
	-moz-opacity: 1;
	opacity: 1;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
	text-decoration: none;
}

.btnArea a:hover, .btnArea2 a:hover{
	width: 100%;
	height: 57px;
	display:block;
	filter:alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)"; /* IE 8 */
	-moz-opacity: 0.8;
	opacity: 0.8;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
}

/* #question2
******************************/
#question2{
	background:#F0F2F5;
	border:solid 1px #DBDFE8;
    font-size:0.7em;
}
#p_intro #question2{
	margin:28px 0 0;
	padding:15px 20px 10px;
}
#question2{margin:0 0 21px;padding:12px 9px;
}
#question2 label,#question input,#question2 textarea{display:inline-block;}
#question2 label,#question2 input{}
#question2 label{vertical-align:middle;}
#p_intro #question2 label{
	width:106px;margin:0 14px 8px 0;text-align:right;
}
#question2 label{width:85px;margin:0 5px 8px 0;}
#question2 label.comment{
	width:100%;margin:0 5px 8px 0;
}
#question2input{
	margin:0 0 8px;
	border:solid 1px #DBDFE8;
	font-size:1.0em;
	line-height:28px;
	vertical-align:middle;
}
#question2 input{
	width:100%;height:23px;
    margin-bottom:3px;
}
#question2 textarea{border:solid 1px #DBDFE8;font-size:1.0em;vertical-align:top;}
#p_intro #question2 textarea{width:900px;height:94px;margin:0 0 4px;}
#question2 textarea{width:100%;height:73px;margin:0 0 10px;}
#question2 button{padding:4px 0;border:none 0;background:none;cursor:pointer;}
#formtext{margin:10px 0px;}
#question2 input[type="button"]{
	margin:0 auto;}

/**
* 視聴ボタン　
**/
.btnList {
	width:100%;
    position: relative;
	margin:0 0 12px;
}
/*白丸部分 */
.btnList>div a:before, .btnList>div p:before {
    display: block;
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    margin-left: -15px;
	box-shadow: 0 2px 5px #ccc;
}
/*after要素で右三角 */
.btnList>div a:after, .btnList>div p:after{
    display: block;
    content: "";
    position: absolute;
    top: 35px;
    left: 30px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-left: 15px solid #ff9d00;
    margin-left: -5px;
}
.btnList>div a, .btnList>div p  {
	width:100%;
    display: block;
	background-color: #ff9d00;
	background: linear-gradient(180deg, #ffdd25, #ff8d22);
	border: 1px solid #ff9d00;
    border-radius: 3px;
    font-size: 1.2em;
    height:90px;
    line-height:90px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	box-shadow: 0 2px 5px #ccc;
	padding-left:50px;
    text-decoration:none!important;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
}
.btnList>div a:link{
	width: 100%;
	filter:alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)"; /* IE 8 */
	-moz-opacity: 1;
	opacity: 1;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
	text-decoration: none;
}
.btnList>div a:hover{
	filter:alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)"; /* IE 8 */
	-moz-opacity: 0.8;
	opacity: 0.8;
}
/**
* 視聴ボタン　非活性化
**/
/*白丸部分 */
.btnList>div.disabled p:before {
    background: #ccc;
    margin-left: -15px;
	box-shadow: 0 2px 5px #ccc;
}
/*after要素で右三角 */
.btnList>div.disabled p:after {
    border-left: 15px solid #333;
    margin-left: -5px;
}
.btnList>div.disabled p {
	background-color: #666;
	background: linear-gradient(180deg, #444, #111);
	border: 1px solid #000;
	color: #666;
	text-shadow:none;
}

/**
* 視聴ボタン　小サイズ（テスト視聴用）
**/
/*白丸部分 */
.btnList>div.small a:before {
    top: 10px;
    left: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    margin-left: -15px;
	box-shadow: 0 2px 5px #ccc;
}
/*after要素で右三角 */
.btnList>div.small a:after {
    display: block;
    content: "";
    position: absolute;
    top: 15px;
    left: 30px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-left: 15px solid #4444ff;
    margin-left: -5px;
}
.btnList>div.small a {
	background-color: #0000ff;
	background: linear-gradient(180deg, #5050ff, #4444ff);
	border: 1px solid #9999ff;
    height:50px;
    line-height:50px;
	padding-left:50px;
	margin-top:20px;
}

