.slider {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.slider button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slider-wrapper {
  width: 100%;
  height: 100%;
}
.slider-list{
  transform: translate3d(0px, 0px, 0px);
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transition: .3s;
}
.slider-item {
  flex-shrink: 0;
  background: #ccc;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  overflow: hidden;
}
.slider-item img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.slider-nav {
}
.slider-nav__left {
}
.slider-nav__right {
}
.slider-pagination {
}
.slider-pagination__dot {
}
