@charset "UTF-8";


/* -------------------------------------------------------------------

    font

-------------------------------------------------------------------- */
@font-face {
  font-family: "NotoSans";
  src: url("../font/NotoSansJP-Regular.woff2") format("woff2"), url("../font/NotoSansJP-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  src: url("../font/NotoSansJP-Medium.woff2") format("woff2"), url("../font/NotoSansJP-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/*-----------------------------------------------
	Browser Reset
-----------------------------------------------*/
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, pre, address, em, strong, th, ins {
  font-size: 100%;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, pre, address, ul, ol, li, dl, dt, dd, form, legend, p {
  margin: 0;
  padding: 0;
}

table, tr, td, th {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: 0;
}

a, button {
  word-break: break-all;
}

img {
  border: none;
}

ul, ol {
  list-style: none;
}

header, section, footer, aside, nav, article, figure, main {
  margin: 0;
  padding: 0;
  display: block;
}

body, th, td {
  word-wrap: break-word;
}

button,
input,
select,
textarea {
  font-family: inherit;
  background: none;
  vertical-align: bottom;
}

input[type=radio] {
  margin: 0;
  vertical-align: middle;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

button:focus {
  outline: inherit;
}

video {
  max-width: 100%;
  vertical-align: bottom;
}

::-moz-placeholder {
  font-family: Arial;
}

:-ms-input-placeholder {
  font-family: Arial;
}

::placeholder {
  font-family: Arial;
}

/*------------------------------------------------------------
共通
------------------------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  color: #333;
}

*, *::after, *::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a, button {
  transition: opacity .2s;
}

a:hover, button:hover {
  opacity: .6;
}

button {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

em {
  font-style: normal;
}

/*
** コンポーネント
*/
/*
** プロダクト
*/
.index-continer {
  background: no-repeat url(../images/index_bg-01.png) right bottom/400px auto;
  width: 100%;
  max-width: 80%;
  min-height: calc(100vh - 40px);
  margin-right: auto;
  margin-left: auto;
}

.index-wrap {
  padding-top: 40px;
}

.index-flex-col {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.index-flex-col-item {
  flex: 1 1 50%;
}

.index-listBlock {
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 10px;
}

.index-listBlock-title {
  font-size: 18px;
}

.index-header {
  font-size: 20px;
  border-bottom: 1px solid #333;
}

.index-lists li {
  font-size: 16px;
  margin-top: 10px;
}

.index-lists li::before {
  content: "- ";
  font-size: inherit;
}

.index-lists li a {
  font-size: inherit;
  text-decoration: none;
}

/*
** ユーティリティ
*/

/*# sourceMappingURL=style.css.map */
