@charset "utf-8";
/**************************************************

	common.css
	Ver.1.0.2 2011/10/26

**************************************************/

/**************************************************
	スタイル初期化
**************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}


/**************************************************
	フレームワーク
**************************************************/
/* Box elements */
.w570px {
  width: 570px;
}

.maauto {
  margin: auto
}

.mb015px {
  margin-bottom: 15px;
}

/* Float elements */
.flt-l {
  float: left;
}

.flt-r {
  float: right
}

/* Clear elements */
.c-fix:after {
  display: block;
  content: "";
  clear: both;
}

.c-flt {
  clear: both;
}

/**************************************************
	デフォルトフォントと文字修飾
**************************************************/
/* デフォルトフォント */
body {
  font-family: Arial, Helvetica, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 62.5%;
  color: #333;
}

p,
li,
dt,
dd,
th,
td {
  font-size: 1.7em;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 2.4em;
  font-weight: 700;
  line-height: 1.2;
}

h6 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
}

li li,
li p,
dd dt,
dd dd,
dd p,
li dt,
li dd {
  font-size: 100% !important;
}

/* リンク色 */
a {
  color: #E60012;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

#main .flt-r a {
  color: #36415B;
  text-decoration: underline;
}

/* 文字サイズ */
.f10 {
  font-size: 1.0em !important;
}

/* 文字修飾 */
strong {
  color: #F00;
  font-weight: 700;
}

.em {
  font-style: italic;
}

/* 文字寄せ */
.al-c {
  text-align: center;
}

.al-r {
  text-align: right;
}

/* インデント */
.idt-n1 {
  margin: 0 0 0 1.3em;
  text-indent: -1.3em;
}


/**************************************************
	各部レイアウト
**************************************************/
/* #wrapper
******************************/
#wrapper {
  width: 100%;
  margin: 0;
}

/* #header
******************************/
#header {
  height: 66px;
  margin: 0 0 15px;
  padding: 10px;
  background: #FFF url(../img/bg_header.png);
  border-top: solid 2px #ff1493;
  repeat-x: left center;
}

#header p {
  width: 1154px;
  margin: 0 auto;
  line-height: 1.0;
}

#q_form #header p {
  width: 640px;
  margin: 0 auto;
  line-height: 1.0;
}

#header img {
  vertical-align: bottom;
}

#header .header-inner {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  height: 66px;
}

/* #main
******************************/
#main {
  width: 1004px;
  margin: 0 auto;
}

#p_player #main {
  width: 1134px;
}

#q_form #main {
  width: 640px;
}

#main h1 {
  margin: 0 0 25px;
}

#p_player #main h1 {
  margin: 0 0 21px;
}


#p_intro #main .flt-l {
  width: 830px;
  padding: 0 0 0 0px;
}

#p_player #main .flt-l {
  width: 800px;
  padding: 0 0 34px 19px;
  position: relative;
}

#main .flt-r {
  width: 289px;
}

#main .flt-l h2 {
  padding: 0 0 0 20px;
  background: #44BEEF url(../img/ttl_section-title.png) no-repeat left top;
  color: #FFF;
  font-size: 1.8em;
  line-height: 39px;
}

#main .flt-l .section {
  padding: 15px 15px 10px;
  border-bottom: 1px #d8d8d8 solid;
}

#main .flt-r .section {
  padding: 15px 15px 10px;
  border-bottom: 1px #d8d8d8 solid;
}

#main .flt-l .section h3 {
  margin: 0 0 0.5em;
}

#main .flt-l .section h4 {
  margin: 0 0 0.5em;
}

#main .flt-l .section p {
  font-size: 1.4em;
}

#main .flt-l .section p span {
  font-size: 1.4em;
}

#p_player #main .flt-r h3 {
  font-size: 1.2em;
}

#p_player #main .flt-r h4 {
  font-size: 1.2em;
}

#main .flt-r .section {
  padding: 0px 0px 10px;
}

#main .flt-r p,
#main .flt-r li {
  font-size: 1.2em;
  line-height: 1.5;
}

#main .flt-r .section h3 {
  font-size: 1.4em;
}

#main .flt-r ul {
  width: 248px;
  padding: 5px 0 0 16px;
}

#main .flt-r li {
  list-style-type: disc;
}

#main .btn_play {
  margin: 0 0 12px;
}

#main .btn_line {
  margin: 12px 0;
}

#main .btn_bitrate {
  font-size: 1.2em;
}

#main .btn_bitrate a {
  display: block;
  width: 238px;
  background: #FFF url(../img/btn_switch-bitrate.png) no-repeat center center;
  color: #36415B;
  text-align: center;
  text-decoration: none;
  line-height: 37px;
}

#productlogo {
  margin-top: 20px;
}

#main .flt-r .syusai p {
  font-size: 1.4em;
  line-height: 1.5;
}

#main .flt-l .syusai {
  position: absolute;
  bottom: 100px;
  right: 0;
}

#main .flt-l .syusai p {
  font-size: 1.4em;
  line-height: 1.5;
}

/* #viewer
******************************/
#viewer {
  margin: 0 0 10px;
}

/* #login
******************************/
#login {
  width: 600px;
  margin: 38px auto 300px;
}

#login form {
  margin: 0 0 15px;
  padding: 17px 80px 20px;
  background: #F0F2F5;
  border: solid 1px #DBDFE8;
}

#login form .al-r {
  width: 400px;
  margin: 0 0 8px;
}

#login form label {
  display: inline-block;
  width: 92px;
  margin: 0 8px 0 0;
  vertical-align: middle;
}

#login form input {
  display: inline-block;
  width: 298px;
  height: 28px;
  border: solid 1px #DBDFE8;
  font-size: 1.0em;
  line-height: 28px;
  vertical-align: middle;
}

#login form button {
  padding: 4px 0;
  border: none 0;
  background: none;
  cursor: pointer;
}

/* #mail
******************************/
#mail {
  color: #06F;
  text-decoration: none;
}

/* #question
******************************/
#question {
  background: #F0F2F5;
  border: solid 1px #DBDFE8;
  margin-right: 1px;
  padding-right: 1px;
}

#p_intro #question {
  margin: 28px 0 0;
  padding: 15px 20px 10px;
}

#p_player #question {
  margin: 0 0 21px;
  padding: 12px 9px;
}

#question label,
#question input,
#question textarea {
  display: inline-block;
}

#question label,
#question input {}

#question label {
  vertical-align: middle;
}

#p_intro #question label {
  width: 106px;
  margin: 0 14px 8px 0;
  text-align: right;
}

#p_player #question label {
  width: 85px;
  margin: 0 5px 8px 0;
}

#p_player #question label.comment {
  width: 100%;
  margin: 0 5px 8px 0;
}

#question input {
  margin: 0 0 8px;
  border: solid 1px #DBDFE8;
  font-size: 1.0em;
  line-height: 28px;
  vertical-align: middle;
}

#p_intro #question input {
  width: 298px;
  height: 28px;
}

#p_player #question input {
  width: 170px;
  height: 23px;
}

#question textarea {
  border: solid 1px #DBDFE8;
  font-size: 1.0em;
  vertical-align: top;
}

#p_intro #question textarea {
  width: 478px;
  height: 94px;
  margin: 0 0 4px;
}

#p_player #question textarea {
  width: 262px;
  height: 73px;
  margin: 0 0 2px;
}

#question button {
  padding: 4px 0;
  border: none 0;
  background: none;
  cursor: pointer;
}

#formtext {
  margin: 10px 0px;
}

/* #enquete
******************************/
#enquete {}

#enquete a,
#enquete a:link,
#enquete a:visited {
  text-decoration: none;
}

#enquete a:hover,
#enquete a:active {
  text-decoration: underline;
}

/* #footer
******************************/
#footer {
  width: 100%;
  height: 55px;
  padding: 5px 0 0;
  background: #fff;
  border-top: solid 2px #ff1493;
  repeat-x: left center;
}

#footer p {
  width: 1134px;
  margin: 0 auto;
  padding: 0 13px;
  font-size: 1.2em;
  text-align: right;
}

#q_form #footer p {
  width: 640px;
  margin: 0 auto;
  padding: 0 13px;
  font-size: 1.2em;
}


/* #question2
******************************/
#question2 {
  background: #F0F2F5;
  border: solid 1px #DBDFE8;
}

#p_intro #question2 {
  margin: 28px 0 0;
  padding: 15px 20px 10px;
}

#p_player #question2 {
  margin: 0 0 21px;
  padding: 12px 9px;
}

#question2 label,
#question input,
#question2 textarea {
  display: inline-block;
}

#question2 label,
#question2 input {}

#question2 label {
  vertical-align: middle;
}

#p_intro #question2 label {
  width: 106px;
  margin: 0 14px 8px 0;
  text-align: right;
}

#p_player #question2 label {
  width: 85px;
  margin: 0 5px 8px 0;
}

#p_player #question2 label.comment {
  width: 100%;
  margin: 0 5px 8px 0;
}

#question2 input {
  margin: 0 0 8px;
  border: solid 1px #DBDFE8;
  font-size: 1.0em;
  line-height: 28px;
  vertical-align: middle;
}

#p_intro #question2 input {
  width: 298px;
  height: 28px;
}

#p_player #question2 input {
  width: 170px;
  height: 23px;
}

#question2 textarea {
  border: solid 1px #DBDFE8;
  font-size: 1.0em;
  vertical-align: top;
}

#p_intro #question2 textarea {
  width: 900px;
  height: 94px;
  margin: 0 0 4px;
}

#p_player #question2 textarea {
  width: 100%;
  height: 73px;
  margin: 0 0 2px;
}

#question2 button {
  padding: 4px 0;
  border: none 0;
  background: none;
  cursor: pointer;
}

#formtext {
  margin: 10px 0px;
}

/* #ipadsetting
******************************/
#ipadsetting {
  margin-left: 2em;
}

#ipadsetting h4 {
  font-size: 1.2em;
  margin-top: 0.5em;
}

/* #section
******************************/
.enq p {
  margin-top: 0.2em
}

#p_player #wrapper #footer {
  border-top: medium solid #FF1493;
}