/*-----------------------------------------------
	Font Set
-----------------------------------------------*/
@font-face {
  font-family: "NotoSans";
  src: url("../font/NotoSansJP-Regular.woff2") format("woff2"), url("../font/NotoSansJP-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
/*-----------------------------------------------
	Browser Reset
-----------------------------------------------*/
html, body {
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: none;
	font-family: NotoSans, sans-serif;
	font-weight: 100;
	color: #333333;
}

body {
	word-wrap : break-word;
}

body * {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,pre,address,em,strong,th,ins {
	font-size: 100%;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6,pre,address,ul,ol,li,dl,dt,dd,form,legend,p {
	margin: 0;
	padding: 0;
}

table,tr, td, th {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: 0;
}

img {
	max-width: 100%;
	border: 0;
	vertical-align: bottom;
}

ul, ul, li {
	list-style-type: none;
}

header, section, footer, aside, nav, article, figure, main {
	margin: 0;
	padding: 0;
	display: block;
}