/* 無限ループ */
:root {
  --fontsize: 18px;
  --color: #333;
  --padding: 0px;
}

.ticker {
  font-size: 18px;
  line-height: 1.5;
  overflow: hidden;
  width: 100%;
  width: calc(100% - (var(--padding) * 2));
  margin: 0 auto;
}
.ticker.inActive,
.ticker.isActive {
  display: block;
  height: auto;
}

.ticker p {
  display: none;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: inherit;
  font-weight: 100;
  white-space: nowrap;
  padding: 0;
}
.ticker.inActive p,
.ticker.isActive p {
}
.ticker.isActive p {
  display: inline-block;
  padding-left: 100%;
}
.ticker.inActive p {
  display: block;
  animation: none;
}


@media screen and (min-width: 768px) {
  .ticker {
    font-size: 18px;
    font-size: var(--fontsize);
  }
  .ticker.isActive p {
    color: #333;
    color: var(--color);
    animation: loop 20s 0s linear infinite;
  }
}

@media screen and (max-width: 767px) {
  .ticker {
    font-size: 18px;
    font-size: var(--fontsize);
  }
    .ticker p {
      height: calc(1.5 * 18px);
      height: calc(1.5 * var(--fontsize));
    }

  .ticker.isActive p {
    color: var(--color);
    animation: loop 20s 0s linear infinite;
  }
}


@keyframes loop {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}