@charset "utf-8";
/* CSS Document */
/* --------------------------------------------------
	loading
-------------------------------------------------- */
.loading {
	min-height: 480px;
}
.loading #main{
	visibility: hidden !important;
}
.loading:after {
	content: "";
	display: block;
	position: fixed;
  z-index: 1000;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border-top: 5px solid #e4e4e4;
	border-right: 5px solid #e4e4e4;
	border-bottom: 5px solid #e4e4e4;
	border-left: 5px solid #be2bbb;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* --------------------------------------------------
	common
-------------------------------------------------- */
.title01 {
	color: #ffffff;
	font-size: 13px;
	line-height: 30px;
	padding: 0 10px;
	background-color: #ddf0fc;

}
.text02 {
	font-size: 14px;
	color: inherit;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.text03 {
	font-size: 12px;
	margin-top: 8px;
}
.linkList01 {
	text-align: center;
	margin-top: 20px;
}
.linkList01 img {
	max-width: 100%;
	height: auto;
}
.realtimeEnquete {
	margin-top: 30px;
}
.realtimeEnquete iframe {
	height: 300px;
	border: none;
	overflow: auto;
}

/**
    フォーム
  */
  /*
    /form/cssで管理に変更
  */
/* Base Style */
/* .form input[type="text"],
.form input[type="number"],
.form input[type="email"],
.form input[type="textarea"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid;
  outline: none;
}
.form input,
.form textarea{
  font-size: inherit;
  line-height: inherit;
  padding: 5px .5em;
}
.form select{
  appearance: none;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 5px calc(1em + 15px) 5px .5em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: inherit;
  line-height: inherit;
  white-space: nowrap;
  cursor: pointer;
  border: none !important;
}
.form select::-ms-expand {
  display: none;
}
.form .select{
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid;
}
.form .select::after{
  pointer-events: none;
  content: "";
  width: 10px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  position: absolute;
  right: 10px;
  top: calc(50% - 3px);
  transform: translateY(-50%) rotate(45deg);
} */


/* Form Item */
/* .form {
  margin-top: 32px;
}
.form_item + .form_item {
  margin-top: 32px;
}
.form_item_title {
  font-weight: bold;
}
.form_item_text {
  margin-top: 8px;
}
.form_item_form {
  margin-top: 8px;
}
.form_item_form_container {
  display: flex;
}
.form_item_form_container label{
  display: flex;
  justify-content: center;
}
.form_item_form_container input{
  flex: 1 1 auto;
}

.form_item_form_container .select{
  width: 100%;
  flex-shrink: 0;
  flex-basis: auto;
}
.form_item_form_container .select + .select{
  margin-top: 8px;
} */


/* Form Submit */
/* .form_submit {
  text-align: center;
  margin-top: 32px;
}
.form_submit li + li{
  margin-top: 16px;
}
.form_submit input[type="submit"],
.form_submit input[type="button"],
.form_submit a{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: #fff;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 8px 1.5em;
}
.form_submit input[type="submit"]:hover,
.form_submit input[type="button"]:hover,
.form_submit a:hover{
  opacity: .6;
} */

