/*-----------------------------------------------
	Font Set
-----------------------------------------------*/
@font-face {
  font-family: "NotoSans";
  src: url("../font/NotoSansJP-Regular.woff2") format("woff2"), url("../font/NotoSansJP-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("../font/NotoSansJP-Medium.woff2") format("woff2"), url("../font/NotoSansJP-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("../font/NotoSansJP-Bold.woff2") format("woff2"), url("../font/NotoSansJP-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}


/*-----------------------------------------------
	Browser Reset
-----------------------------------------------*/
html, body {
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: none;
	font-family: NotoSans, sans-serif;
	font-weight: 100;
	color: #333333;
}

body * {
	box-sizing: border-box;
}
body {
	background-color: #eee6e6;
}

h1,h2,h3,h4,h5,h6,pre,address,em,strong,th,ins {
	font-size: 100%;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6,pre,address,ul,ol,li,dl,dt,dd,form,legend,p {
	margin: 0;
	padding: 0;
}

table,tr, td, th {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: 0;
}

img {
	border: 0;
	vertical-align: bottom;
}

ul, ul, li {
	list-style-type: none;
}

header, section, footer, aside, nav, article, figure, main {
	margin: 0;
	padding: 0;
	display: block;
}

body,th,td {
	word-wrap : break-word;
}

button, input, select, textarea {
	font-family: inherit;
}

input[type="text"], input[type="password"], textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	resize: none;
}

img {
	max-width: 100%;
}

a {
	color: #bc2db7;
}
a:hover, button:hover {
	opacity: .6;
}
/*---------------------------------------
shared
---------------------------------------*/

.midashi_bar p {
	border-left: 3px solid #001e46;
	background-color: #703e97;
	width: 100％;
	height: 39px;
	font-size: 1.1em;
	line-height: 1.8em;
	padding: 5px 0 0 10px;
	color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 5px;
}

.midashi_bar p.small {
	height: 30px;
	font-size: 0.8em;
	line-height: 1.5em;
}

.card {
	width: 100%;
	background: #fff;
	box-shadow: 0 2px 5px #ccc;
	margin-bottom: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card>p {
	background-color: #be2bbb;
	font-size: 18px;
	line-height: 1.2;
	/* margin-bottom: 10px; */
	padding: 12px 20px;
	color: #fff;
}

.card-content {
	padding: 5px 20px 20px 20px;
}

.card-content p {
	font-weight: 700;
}

.card .desc {
	margin: 5px 1em;
}

.card .desc li {
	margin-bottom: 10px;
}

.card-content .small {
	font-size: 0.8em;
}

.card-content .big {
	font-size: 1.2em;
}

/* Environment
******************************/
.environment {
	clear: both;
	margin: 50px auto 15px auto;
	margin-top: 20px;
	font-weight: 100;
}

.environment h3 {
	font-size: 1em;
	font-weight: 700;
}

.environment .notes_title + ul{
	margin-top: 0;
}
.environment .notes_title {
	font-size: 14px;
	font-weight: normal;
}
.environment .notes_title ~ .notes_title {
	margin-top: 15px;
}

.environment div {
	font-size: 14px;
}

.environment .win {
	float: left;
	width: 180px;
}

.environment .mac {
	float: left;
	width: 230px;
}

.environment .mac_sp {
	float: left;
	width: 180px;
}

.environment .android {
	float: left;
	width: 300px;
}

.environment .notes {
	margin-top: 15px;
}

.environment li {
	font-size: 1em;
}

.environment .anno li {
	padding-left: 1em;
	text-indent: -1em;
}

/* faq */
.description {
	padding: 0 10px;
	font-size: 1em;
	font-weight: bold;
}