@charset "utf-8";
/**************************************************

	common.css
	Ver.1.0.2 2011/10/26

**************************************************/

/**************************************************
	スタイル初期化
**************************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
/* remember to define focus styles! */
:focus{outline:0;}
body{line-height:1;color:black;background:white;}
ol,ul{list-style:none;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}


/**************************************************
	フレームワーク
**************************************************/
/* Box elements */
.w570px{width:570px;}
.maauto{margin:auto}.mb015px{margin-bottom:15px;}
/* Float elements */
.flt-l{float:left;}.flt-r{float:right}
/* Clear elements */
.c-fix:after{display:block;content:"";clear:both;}
.c-flt{clear:both;}

/**************************************************
	デフォルトフォントと文字修飾
**************************************************/
/* デフォルトフォント */
body{font-family:Arial,Helvetica,'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;font-size:62.5%;color:#333;}
p,li,dt,dd,th,td{font-size:1.2em;line-height:1.3;}
h1,h2,h3,h4,h5,h6{font-size:1.6em;font-weight:700;line-height:1.2;}
li li,li p,dd dt,dd dd,dd p,li dt,li dd{font-size:100%!important;}
/* リンク色 */
a{color:#E60012;}a:link{text-decoration:none;}a:visited{text-decoration:none;}a:hover,a:active{text-decoration:underline;}
#main .flt-r a{color:#36415B;text-decoration:underline;}
/* 文字サイズ */
.f10{font-size:1.0em !important;}
/* 文字修飾 */
strong{color:#F00;font-weight:700;}.em{font-style:italic;}
/* 文字寄せ */
.al-c{text-align:center;}.al-r{text-align:right;}
/* インデント */
.idt-n1{margin:0 0 0 1.3em;text-indent:-1.3em;}


/**************************************************
	各部レイアウト
**************************************************/
/* #wrapper
******************************/
#wrapper{width:100%;margin:0;}

/* #header
******************************/
#header {height:66px;margin:0 0 15px;padding:0px;background:#FFF; border-top:solid 2px #1f2a00; border-bottom:solid 1px #dbdfe8;}
#header .headerBox{width:1130px;margin:0 auto;line-height:1.0;height:66px;}
#header p.nikkei{width:322px;height:42px;margin:10px auto 0 auto;line-height:1.0; float:left;}
#header p.syusai{width:460px;height:42px;margin:0 auto;line-height:4.5em; float:right; font-size:1.5em; text-align:right;}
#q_form #header p{width:640px;margin:0 auto;line-height:1.0;}


/* #main
******************************/
#main{width:1130px;margin:0 auto;}
#p_player #main{width:1130px;}
#q_form #main{width:640px;}
#main h1{margin:0 0 25px;}
#p_player #main h1{margin:0 0 21px;}


#p_intro #main .flt-l{width:800px;padding:0 0 0 0px;}
#p_player #main .flt-l{width:800px;padding:0 0 34px 0;}
#main .flt-r{width:284px;padding:0 0 35px 0;}
#main .flt-l h2{padding:0 0 0 20px;background:#44BEEF url(../../html/common/img/ttl_section-title.png) no-repeat left top;color:#FFF;font-size:1.8em;line-height:39px;}
#main .flt-l .section{padding:15px 15px 10px; border-bottom:1px #d8d8d8 solid;}
#main .flt-r .section{padding:15px 15px 10px; border-bottom:1px #d8d8d8 solid;}
#main .flt-l .section h3{margin:0 0 0.5em;}
#main .flt-l .section h4{margin:0 0 0.5em;}
#main .flt-l .section p{font-size:1.4em;}
#main .flt-r .section p.mt4{margin-top:4px;}
#main .flt-l .section p span{font-size:1.4em;}
#main .flt-r p.question_text{font-size:1.0em; margin:10px 0;}
#p_player #main .flt-r h3{font-size:1.2em;}
#p_player #main .flt-r h4{font-size:1.2em;}
#main .flt-r .section{padding:10px;}
#main .flt-r p,#main .flt-r li{font-size:1.2em;line-height:1.5;}
#main .flt-r .section h3{font-size:1.4em;}
#main .flt-r ul{width:248px;padding:5px 0 0 16px;}
#main .flt-r li{list-style-type:disc;}
#main .btn_play{margin:0 0 12px;}
#main .btn_line{margin:12px 0;}
#main .btn_bitrate{font-size:1.2em;}
#main .btn_bitrate a{display:block;width:238px;background:#FFF url(../../html/common/img/btn_switch-bitrate.png) no-repeat center center;color:#36415B;text-align:center;text-decoration:none;line-height:37px;}
#productlogo{margin-top:20px;}
#main .flt-r p.seminar {
	text-align:center;
	font-weight:bold;
	padding: 0 0 10px 0;
	font-size: 1.5em;
}
#main .flt-l p.use {
	padding-top:8px;
}

div.topbox {
	padding:10px 10px 30px 10px;
}


/* #viewer
******************************/
#viewer{margin:0 0 10px;}

/* #login
******************************/
#login{width:600px;margin:38px auto 300px;}
#login form{margin:0 0 15px;padding:17px 80px 20px;background:#F0F2F5;border:solid 1px #DBDFE8;}
#login form .al-r{width:400px;margin:0 0 8px;}
#login form label{display:inline-block;width:92px;margin:0 8px 0 0;vertical-align:middle;}
#login form input{display:inline-block;width:298px;height:28px;border:solid 1px #DBDFE8;font-size:1.0em;line-height:28px;vertical-align:middle;}
#login form button{padding:4px 0;border:none 0;background:none;cursor:pointer;}

/* #mail
******************************/
#mail{color:#06F; text-decoration:none;}

/* #question
******************************/
#question{background:#F0F2F5;border:solid 1px #DBDFE8;}
#p_intro #question{margin:28px 0 0;padding:15px 20px 10px;}
#p_player #question{margin:0 0 21px;padding:12px 9px;}
#question label,#question input,#question textarea{display:inline-block;}
#question label,#question input{}
#question label{vertical-align:middle;}
#p_intro #question label{width:106px;margin:0 14px 8px 0;text-align:right;}
#p_player #question label{width:85px;margin:0 5px 8px 0;}
#p_player #question label.comment{width:100%;margin:0 5px 8px 0;}
#question input{margin:0 0 8px;border:solid 1px #DBDFE8;font-size:1.0em;line-height:28px;vertical-align:middle;}
#p_intro #question input{width:298px;height:28px;}
#p_player #question input{width:170px;height:23px;}
#question textarea{border:solid 1px #DBDFE8;font-size:1.0em;vertical-align:top;}
#p_intro #question textarea{width:478px;height:150px;margin:0 0 4px;}
#p_player #question textarea{width:262px;height:150px;margin:0 0 2px;}
#question button{padding:4px 0;border:none 0;background:none;cursor:pointer;}
#formtext{margin:10px 0px;}

/* Environment
******************************/
#Environment {clear:both;
border-top:#071186 solid 5px;
padding:20px 40px 0 40px;
width:1050px;
}

#Environment h2 {
background: url(../common/img/ttl_environment_low.gif) no-repeat;
	width: 1000px;
	height: 39px;
	font-size:2em;
	line-height: 2em;
	padding: 0 0 0 50px;
}
#Environment .pc {
	float:left;
	width:240px;
	}
#Environment .section {
	float:right;
	width:500px;
	margin-bottom:20px;
}


/* #footer
******************************/
#footer{width:100%;height:55px;padding:5px 0 0;background:#fff;border-top:solid 2px #1f2a00;color:#000;}
#footer p{width:1130px;margin:0 auto;padding:0 13px;font-size:1.2em; text-align:right;}
#q_form #footer p{width:640px;margin:0 auto;padding:0 13px;font-size:1.2em;}


/* #form
******************************/
#form{background:#F0F2F5;border:solid 1px #DBDFE8;}
#p_intro #form{margin:28px 0 0;padding:15px 20px 10px;}
#form{margin:0 0 21px;padding:12px 9px;}
#form label,#question input,#form textarea{/*display:inline-block;*/}
#form label,#form input{}
#form label{vertical-align:middle;}
#p_intro #form label{width:106px;margin:0 14px 8px 0;text-align:right;}
#form label{width:60px;margin:0 5px 8px 0;}
#form label.comment{width:100%;margin:0 5px 8px 0;}
#forminput{margin:0 0 8px;border:solid 1px #DBDFE8;font-size:1.0em;line-height:28px;vertical-align:middle;}
#p_intro #form input{width:298px;height:28px;}
#form input{width:150px;height:23px; margin-bottom:0.3em}
#form textarea{border:solid 1px #DBDFE8;font-size:1.1em;vertical-align:top;}
#p_intro #form textarea{width:900px;height:100px;margin:0 0 4px;}
#form textarea{width:220px;height:150px;margin:0 0 10px;; margin-top:0.5em}
#form button{padding:4px 0;border:none 0;background:none;cursor:pointer;}
#formtext{margin:10px 0px;}

/* #ipadsetting
******************************/
#ipadsetting{margin-left:2em;}
#ipadsetting h4{font-size:1.2em; margin-top:0.5em;}



/* .headLive
******************************/
.headLive {
	background:url(../common/img/head_live.gif) repeat-x;
	width: 1090px;
	height: 80px;
	margin: 0 auto 20px auto;
	padding: 15px 20px;
	position: relative;
}

.headLive h1 {
	font-size: 2.5em;
	margin: 0 0 5px 0 !important;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
	letter-spacing: 0.05em;
}

.headLive h1 span {
	font-size: 0.75em;
	margin: 0 0 5px 0 !important;
	color: #FFF;
	letter-spacing: 0.05em;
}

.headLive p {
	font-size: 2.5em;
	color: #042A8F;
	font-weight: bold;
	position: absolute;
	width: 1110px;
	top: 77px;
	right: 0px;
	text-align: right;
	padding: 0 20px 0 0;
	background: #E1FCFC;
}


/* .btnArea
******************************/

#main .btnArea, #main .btnArea2, #main .btnArea3, #main .btnArea_off, #main .btnArea2_off, #main .btnArea3_off{
	margin:0 0 12px;
	width: 281px;
	height: 57px;
}

#main .btnArea_off, #main .btnArea2_off, #main .btnArea3_off{
	background: url(../common/img/btn_off.gif) no-repeat;
}

#main .btnArea p, #main .btnArea2 p, #main .btnArea_off p, #main .btnArea2_off p, #main .btnArea3 p{
	padding: 16px 0 0 43px;
	font-size: 1.8em;
	font-weight: bold;
	color: #fff;
}

#main .btnArea_off p, #main .btnArea2_off p, #main .btnArea3_off p{	
	color: #666;
}

#main .btnArea a, #main .btnArea2 a{
	background: url(../common/img/btn_on.gif) no-repeat;
	width: 281px;
	height: 57px;
	display:block;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
}

#main .btnArea3 a{
	background: url(../common/img/btn_red.gif) no-repeat;
	width: 281px;
	height: 57px;
	display:block;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
}


#main .btnArea a:link, #main .btnArea2 a:link, #main .btnArea3 a:link{
	width: 281px;
	height: 57px;
	display:block;
	filter:alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)"; /* IE 8 */
	-moz-opacity: 1;
	opacity: 1;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
	text-decoration: none;
}

#main .btnArea a:hover, #main .btnArea2 a:hover, #main .btnArea3 a:hover{
	width: 281px;
	height: 57px;
	display:block;
	filter:alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)"; /* IE 8 */
	-moz-opacity: 0.8;
	opacity: 0.8;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
}

#main .btnArea2{
	margin:30px 0 12px;
	width: 281px;
	height: 57px;
}

.flt-r h2 {
	background-image: url(../common/img/ttl_midashi_s.gif);
	width: 269px;
	height: 39px;
	padding: 0 0 0 15px;
	line-height: 2.5em;
}

/* #enquete
******************************/
#enquete {
	clear:both;
	padding:0 0 30px 0;
	width:1130px;
	text-align:center;
}

#enquete p {
	background: url(../common/img/btn_enquete.gif) no-repeat;
	width: 480px;
	height: 80px;
	text-decoration: none;
	font-size: 3em;
	line-height: 2.75em;
}

#main #enquete a{
	width: 480px;
	height: 80px;
	margin: 0 auto;
	color: #FFF;
}

#main #enquete a:link{
	width: 480px;
	height: 80px;
	display:block;
	filter:alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)"; /* IE 8 */
	-moz-opacity: 1;
	opacity: 1;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
	text-decoration: none;
}

#main #enquete a:hover{
	width: 480px;
	height: 80px;
	display:block;
	filter:alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)"; /* IE 8 */
	-moz-opacity: 0.8;
	opacity: 0.8;
	font-weight: bold;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
	text-decoration: none;
}