@charset "UTF-8";
/*-----------------------------------------------
	Browser Reset
-----------------------------------------------*/
html,
body {
  margin: 0px;
  padding: 0px;
  -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6, pre, address, em, strong, th, ins {
  font-size: 100%;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, pre, address, ul, ol, li, dl, dt, dd, form, legend, p {
  margin: 0;
  padding: 0;
}

table, tr, td, th {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: 0;
}

img {
  border: 0;
  vertical-align: bottom;
}

ul,
ul, li {
  list-style-type: none;
}

header, section, footer, aside, nav, article, figure, main {
  margin: 0;
  padding: 0;
  display: block;
}

body, th, td {
  word-wrap: break-word;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

/*---------------------------------------
    Common
---------------------------------------*/
.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearFloat {
  clear: both;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

.center {
  text-align: center !important;
}

.bold {
  font-weight: bold !important;
}

.normal {
  font-weight: normal !important;
}

/* Margin top */
.mt0 {
  margin-top: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

/* Margin Bottom */
.mb1em {
  margin-bottom: 1em !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

/* Margin Right */
.mr0 {
  margin-right: 0px !important;
}

body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 1.5;
  /* padding: 20px; */
}

*, *::before, *::after {
  background-repeat: no-repeat;
  background-position: 0 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (any-hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

nav,
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

table {
  width: 100%;
}

iframe {
  width: 100%;
  border: none;
}

input[type="text"],
input[type="password"],
select,
textarea {
  font-size: inherit;
  color: inherit;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  resize: none;
  line-height: inherit;
}

/* --------------------------------------------------
	form
-------------------------------------------------- */
#form input[type="text"],
#form textarea {
  background: none;
  border: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;

  font-size: 16px;
  font-weight: inherit;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
  padding: 5px;
}
#form dl dt {
  position: relative;
}


#form dl dt:nth-of-type(n + 2) {
  margin-top: 12px;
}

#form dl dd {
  margin-top: 4px;
}

#form .message {
  font-size: 12px;
  margin-top: 10px;
  display: none;
}

#form dl dt .errorMessage {
  margin-left: 0.5em;
  position: absolute;
  top: 3px;
}
#form .errorMessage {
  color: red;
  font-size: 11px;
  /* margin-top: 10px; */
}

#form .button {
  font-size: 0;
  text-align: center;
  /* margin-top: 20px; */
}

#form .button li {
  display: inline-block;
}

#form .button li + li {
  margin-left: 24px;
}

#form .button a,
#form .button input[type="button"],
#form .button input[type="submit"] {
  padding: 0;
  background-color: transparent;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(188, 45, 183);
  width: 149px;
  height: 40px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  border-radius: 50px;
  margin: 16px auto 0;
}

#form .button a:hover,
#form .button input[type="button"]:hover,
#form .button input[type="submit"]:hover {
  opacity: .6;
}

#form .button a.disabled,
#form .button input[type="button"].disabled,
#form .button input[type="submit"].disabled {
  color: #ffffff !important;
  background-color: #c3c3c3 !important;
  border-color: #c3c3c3 !important;
  box-shadow: none !important;
  pointer-events: none !important;
}

#form dl {
  display: flex;
  flex-wrap: wrap;
}
.form_name {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  max-width: 50%;
}

.form_facility {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 10px);
  max-width: 50%;
  margin-left: 10px;
}

.form_message {
  flex: 1 1 100%;
  max-width: 100%;
  margin-top: 16px;
}
.form_message .errorMessage{
  top: -10px !important;
}
.form_message textarea{
  width: 100%;
  min-height: 132px;
  resize: none;
}

/* --------------------------------------------------
	view
-------------------------------------------------- */
#view .post {
  padding-top: 12px;
  padding-bottom: 12px;
}

#view .post .date {
  font-size: 12px;
  margin-bottom: 5px;
}

#view .post .message {
  margin-top: 5px;
}

#view .post + .post {
  border-top: 1px solid #cccccc;
}

#view .post.admin .name {
  color: #50a500;
}
