/*------------------------------------------------------------
共通
------------------------------------------------------------*/
html {
  font-size: 62.5%;
}
body {
  -webkit-text-size-adjust: 100%;
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  color: #333;
}
*, *::after, *::before{
  box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a, button{
  transition: opacity .2s;
  &:hover{
    opacity: .6;
  }
}
button{
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
em {
  font-style: normal;
}