@charset "utf-8";
body {
	line-height: 1.5;
	min-height: 100%;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: #1e5799;
}
a:hover {
	text-decoration: none;
}

/*
* ヘッダー
*/
header {
    width:100%;
	background: #fff;
	border-bottom: 3px solid #004da1;
	color:#333;
	margin: 0 auto 10px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0px 10px 10px 10px !important;
	text-align:center;
	line-height:25px;
}
header .logo {
    width:100%;
	margin: 0px auto;
    text-align:center;
	margin-bottom: 10px;
}
header .logo img {
	width: 60%;
	max-width:240px;
}
header .small {
    display:block;
	font-weight:300;
	font-size: 0.8em !important;
}

.devfont {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	line-height:25px;
	font-size: 1.4em;
	margin: 0;
}
.card-content .devfont {
	font-size: 1.2em;
}

.small {
	font-size: 0.8em;
}


/*
* フッター
*/
footer {
	width:100%;
	min-height:36px;
	font-size: 0.7em;
	text-align: center;
	background-color: #004da1;
	border-top: 1px solid #004da1;
}
footer>div {
	padding:9px 10px;
	line-height:18px;
	color:#fff;
	position: relative;
}

.container {
	position: relative;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 10px 36px 10px;
	
}

/* Environment */
#Environment {
	width: auto;
	margin-top:20px;
}
#Environment .card-content {
	padding:5px 10px;
}
div.topbox h3 {
	font-size: 0.8rem;
}
div.topbox li {
	font-size: 1.2rem;
}
div.topbox ul {
	margin-top: 4px;
}
#Environment .win,
#Environment .mac,
#Environment .mac_sp,
#Environment .android {
	float:none;
	margin-top: 15px;
	width: auto;
}

/* .btnArea
******************************/
.btnArea  {
	margin-top:15px;
}
.sub_side .btnArea>div, .sub_side .btnArea2>div {
	margin-left: auto;
	margin-right: auto;
}
.btnArea div p,  .btnArea2 div p {
	font-size: 1.2rem;
	line-height: 57px;
	padding-top: 0px;
}

.btnList  {
	margin-top:20px;
}

/**
 サブ演題用リスト
*/
.subject_list {
	width:100%;
	color: #004da1;
	margin-bottom:10px;
}
.subject_list >div , .subject_list >p{
	font-weight: 700;
	display: inline;
}
.subject_list .subject {
	margin-right:5px;
}
.actor_info p {
	display: inline-block;
}
.actor_info span {
	margin-right: 5px;
}