@charset "utf-8";
/* CSS Document */
body {
	line-height: 1.5;
	padding-bottom: 30px;
	min-height: 100%;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
* ヘッダー
*/
header {
    width:100%;
	background: #fff;
	border-bottom: 3px solid #004da1;
	color:#333;
	margin: 0 auto 15px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:5px 10px !important;
    height:60px;
}
header .header_wrap {
    width:100%;
    max-width:1024px;
	margin:0 auto;
	display: flex;
}
header .header_wrap>div {
    height:100%;
}
header .logo img {
	margin: 15px 20px 0 5px;
	height: 30px;
}
header .title {
	line-height: 25px;
	height: 20px;
	top: 0px;
	left: 200px;
}
header .devfont {
	line-height: 50px;
	font-size: 1.5em;
	margin-top:5px;
}
header .small {
	font-weight:300;
	font-size: 0.8em !important;
}
header::after {
	content: "";
	display: block;
	clear: both;
}
.inner {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}


/*
* フッター
*/
footer {
	position: relative;
	width:100%;
	height:36px;
	line-height:36px;
	font-size: 0.7em;
	text-align: center;
	background-color: #004da1;
	border-top: 1px solid #004da1;
	bottom: 0;
	left: 0;
}
footer>div {
	padding: 0 30px;
	color:#fff;
	position: relative;
}
footer>div>div {
	float:left;
}
footer .left {
	text-align: left;
}
footer .pc_right {
	position: absolute;
	right:10px;
	text-align: right;
}

a {
	color: #1e5799;
}
a:hover {
	text-decoration: none;
}
.devfont {
	font-size: 1.1em;
	margin: 0;
	margin-left: 0;
	line-height:40px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	
	font-weight: bold;
}
.devfont * {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.devfont .small {
	font-size: 0.8em;
}
.li {
	display: block;
	float: right;
	margin-top: 2px;
	margin-left: 15px;
}
.container {
	width: 100%;
}
.container::after {
	content: "";
	display: block;
	clear: both;
}

/**
 メインエリア 
*/
.main {
    width:1020px;
	margin: 15px auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main .main_side {
	width:670px;
	float:left;
}
.main .sub_side {
	width: 281px;
	float:right;
}

/**
 サブ演題用リスト
*/
.subject_list {
	width:100%;
	display: flex;
	padding: 5px;
	color: #004da1;
	background-color: #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.subject_list.subtitle {
	background-color: #eee;
	color: #000;
	border-radius:5px;
}
.subject_list.subtitle >div , .subject_list.subtitle >p {
	font-weight: 700;
	font-size: 1.2em;
}
.subject_list >div , .subject_list >p{
	display:-webkit-box;
	font-weight: 700;
}
.subject_list.subtitle >div , .subject_list.subtitle >p {
	font-weight: 700;
	font-size: 1.2em;
}

.subject_list >div , .subject_list >p{
	display:-webkit-box;
	font-weight: 700;
}
.subject_list .subject {
	min-width:60px;
}
.actor_info p {
	display: inline-block;
}
.actor_info span {
	margin-right: 5px;
}