/*-----------------------------------------------
	Browser Reset
-----------------------------------------------*/

body {
	margin: 0px;
	padding: 0px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#333;
	line-height:1.4;
	-webkit-text-size-adjust:none;
}

h1,h2,h3,h4,h5,h6,pre,address,em,strong,th,ins {
	font-size:100%;
}

h1,h2,h3,h4,h5,h6,pre,address,ul,ol,li,dl,dt,dd,form,legend,p {
	margin:0;
	padding:0;
}

table,tr, td, th {
	margin:0;
	padding:0;
	border-collapse:collapse;
	border:0;
}
img {
	border:0;
	vertical-align:bottom;
}

/*---------------------------------------
    shared
---------------------------------------*/
.floatLeft {
    float:left;
}
.floatRight {
	float:right;
}
.clearFloat {
	clear: both;
}
.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.center {
	text-align: center !important;
}
.bold {
	font-weight: bold !important;
}
.normal {
	font-weight: normal !important;
}

/* Margin top */
.mt0 {
	margin-top: 0px !important;
}
.mt5 {
	margin-top: 5px !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt25 {
	margin-top: 25px !important;
}
.mt30 {
	margin-top: 30px !important;
}

/* Margin Bottom */
.mb0 {
	margin-bottom: 0px !important;
}
.mb5 {
	margin-bottom: 5px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb15 {
	margin-bottom: 15px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mb25 {
	margin-bottom: 25px !important;
}
.mb30 {
	margin-bottom: 30px !important;
}

/* Clear Fix shared */
.clearAll {
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}

.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}