body {
	font-size: 14px;
	background-color: #FFF;
	min-width: 980px;
}
body ul li {
	list-style-type: none;
}

#wrapper {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
#stepArea {
	background-color: #0068B7;
	background-image: url(../images/bg_step_area_02.gif);
	background-position: left bottom;
	background-repeat: repeat-x;
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 10px;
}
#stepArea .inner {
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	background-color: #B2D1E9;
	background-image: url(../images/bg_step_area_01.png);
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-right: 50px;
	padding-bottom: 15px;
	padding-left: 50px;
	overflow: hidden;
	zoom: 1;
}
#stepArea .inner .stepBlock {
	float: left;
	width: 220px;
	margin-right: 110px;
}
#stepArea .inner .stepBlock.last {
	margin-right: 0px;
}
#stepArea .inner .stepBlock dt,
#stepArea .inner .stepBlock dd {
	padding-top: 8px;
	line-height: 1;
	text-align: center;
}
#stepArea .inner .stepBlock dl {
	border: solid 1px #0068B7;
}
#stepArea .inner .stepBlock dt {
	background-color: #0068B7;
	padding-bottom: 5px;
	font-size: 1px;
}
#stepArea .inner .stepBlock dd {
	color: #A0A0A0;
	background-color: #DCDCDC;
	padding-bottom: 8px;
}
#stepArea .inner .stepBlock.current dd {
	color: #333;
	background-color: #FFF;
}
.title {
	background-color: #eeeeee;
	border-bottom: 2px solid #A0A0A0;
	margin-bottom: 20px;
}
.title p {
	font-size: 18px;
	line-height: 1;
	border-left: 10px solid #0068B7;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}
.explain {
	margin-bottom: 20px;
}
#mainContents {
	padding-bottom: 40px;
}
.measurementArea {
	padding-bottom: 25px;
	border-bottom: dotted 1px #CCC;
	overflow: hidden;
	zoom: 1;
}
.measurementArea .textBlock {
	float: left;
	width: 580px;
}
.measurementArea .measurementBlock {
	float: right;
	width: 360px;
}
.measurementArea .textBlock p {
	margin-bottom: 25px;
}
.measurementArea .textBlock ul li {
	font-size: 10px;
	color: #959595;
	margin-bottom: 5px;
	text-indent: -1em;
	padding-left: 1em;
}
.measurementArea .textBlock ul li a {
	text-decoration: underline;
	color: #959595;
}
.measurementArea .textBlock ul li a:hover {
	text-decoration: none;
}
#sampleBtnList {
	padding-top: 35px;
}
#sampleBtnList p {
	font-size: 18px;
	color: #ac6a00;
	background-image: url(../images/img_arrow_01.gif);
	background-repeat: no-repeat;
	background-position: center 35px;
	text-align: center;
	padding-bottom: 80px;
}
#sampleBtnList .btnBlock .text {
	font-size: 18px;
}
.icon {
	color: #0068B7;
}
#sampleBtnList .btnBlock {
	width: 680px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	overflow: hidden;
	zoom: 1;
}
#sampleBtnList .btnBlock.last {
	margin-bottom: 0px;
}
#sampleBtnList .btnBlock .text {
	float: left;
	width: 270px;
	padding-top: 23px;
	line-height: 1;
}
#sampleBtnList .btnBlock .btn {
	float: right;
	background-image: url(../images/bg_sample_btn.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 60px;
	width: 390px;
}
#sampleBtnList .btnBlock .btn a {
	background-image: url(../images/bg_sample_btn.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 60px;
	display: block;
	text-decoration: none;
	color: #333;
}
#sampleBtnList .btnBlock .btn a:hover {
	background-position: 0px -60px;
}
#sampleBtnList .btnBlock .btn .innerText {
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	padding-top: 23px;
}
#flashContent {
	height: 80px;
	width: 205px;
	border: 1px solid #a0a2a1;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-left: 15px;
	background-color: #FFF;
}
.measurementBlock {
	background-image: url(../images/bg_measurement_02.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 10px;
}
.measurementBlock .titleMeasurement {
	color: #434343;
	background-image: url(../images/bg_measurement_01.gif);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
#footer {
	color: #959595;
	background-image: url(../images/bg_footer.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	padding-top: 25px;
	padding-bottom: 25px;
	line-height: 1.8;
}
#footer a {
	color: #959595;
	text-decoration: underline;
}
#footer a:hover {
	color: #959595;
	text-decoration: none;
}
#footer dl {
	width: 520px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	zoom: 1;
}
#footer dt {
	font-size: 18px;
	float: left;
}
#footer dd {
	float: right;
}
#footer dd span {
	font-size: 12px;
}

.playerReportArea {
	overflow: hidden;
	zoom: 1;
}
.playerReportArea .playerBlock {
	float: left;
}
.playerReportArea #bbs {
	float: right;
}
#formArea {
	width: 240px;
	/*margin-right: auto;
	margin-left: auto;*/
}
#formArea input,
#formArea select {
	height: 20px;
	width: 236px;
	border-top: solid 1px #AAADB2;
	border-right: solid 1px #E2E9EF;
	border-bottom: solid 1px #E2E9EF;
	border-left: solid 1px #E2E9EF;
}
#formArea input.year {
	width: 70px;
}
#formArea input.month,
#formArea input.day {
	width: 50px;
}
#formArea dd {
	margin-bottom: 15px;
}
#formArea dd.date {
	font-size: 12px;
}
#formArea dd .resultBlock {
	margin-bottom: 15px;
}
#formArea h3 {
	padding: 10px;
	background-color: #EEE;
	border-bottom: solid 2px #0068B7;
	margin-bottom: 15px;
}