@charset "utf-8";
body {
	line-height: 1.5;
	padding-bottom: 50px;
	min-height: 100%;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	position: relative;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 10px 36px 10px;

}

a {
	color: #1e5799;
}
a:hover {
	text-decoration: none;
}
p + p {
	margin-top: 1.5em;
}

.small {
	font-size: 0.8em;
}
.big {
	font-size: 1.4em;
	line-height: 30px;
}

/*
* ヘッダー
*/
header {
	width: 100%;
	background: #fff;
	border-bottom: 3px solid #004da1;
	color:#333;
	margin: 0 auto 10px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px 5px 5px 5px;
}
header::after {
	content: "";
	display: block;
	clear: both;
}
header>div {
	text-align:center;
	line-height:25px;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.logo  {
	margin: 0px auto;
	text-align:center;
	margin-bottom: 10px;
}
.logo img {
	width: 60%;
	max-width:240px;
}
.devfont {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	line-height:25px;
	font-size: 1.4em;
	margin: 0;
}

/*
* フッター
*/
footer {
	width:100%;
	min-height:36px;
	font-size: 0.7em;
	text-align: center;
	background-color: #004da1;
	border-top: 1px solid #004da1;
}
footer>div {
	padding:9px 10px;
	line-height:18px;
	color:#fff;
	position: relative;
}
.form_content {
	width:100%;
	margin: 0 auto;
	border: 1px solid #868686;
	background-color: #e5e5e5;
	padding: 20px 10px;
	box-sizing: border-box;
}
.input {
	line-height: 36px;
}
.input + .input {
	margin-top: 10px;
}
.input::after {
	content: "";
	display: block;
	clear: both;
}
.input div:first-child {
	line-height: 24px;
}
.input > div {
	position: relative;
}
.input .toggleDisplay-pw {
	cursor: pointer;
	width: 27px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
}
.input .toggleDisplay-pw img{
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
}
.inputName {
	font-weight: bold;
	color: #2258a9;
}
.inputName::after {
	display: none;
	content: "必須";
	flex: 0 1 auto;
	/* max-width: 24px; */
	font-size: .8em;
	color: red;
	line-height: 1;
	border: 1px solid red;
	margin-left: .5em;
	padding: 7px 12px 5px;
}
.input.isRequired .inputName::after {
	display: inline-flex;
	justify-content: center;
}
.input.isAny .inputName::after {
	display: none;
}
.input input {
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
}
.input input[type="text"],
.input input[type="password"] {
	width: 100%;
	height: 34px;
	padding-left: 5px;
	padding-right: 5px;
}
.input input[type="password"] {
	padding-right: 50px;
}
.input input[type="password"]::-ms-reveal,
.input input[type="text"]::-ms-reveal {
  visibility: hidden;
}
.input input[type="password"]::-ms-clear,
.input input[type="text"]::-ms-clear {
  visibility: hidden;
}
.input select {
	width: 100%;
	height: 34px;
	border: 1px solid #ccc;
}
.input label + label {
	margin-left: 15px;
}
select {
	background-color: #fff;
}

#info {
	font-size: 14px;
	color: #F00;
	line-height: 20px;
	text-align: center;
	margin-top: 5px;
	height: 35px;
}
.login {
	text-align: center;
}
.login a {
	display:block;
	margin: 0 auto 10px auto;
	color: #fff;
	width:100%;
	height: 40px;
	background-color: #2258a9;
	text-align: center;
	padding: 10px 80px;
	box-sizing: border-box;
	cursor: pointer;
}
.login a:hover {
	opacity: 0.7;
}

.login a[aria-disabled="true"] {
	pointer-events: none;
	color: #fff;
	background-color: #707080;
	cursor: default;
}
.login a[aria-disabled="true"]:hover {
	opacity: 1.0;
}

.pass_co {
	visibility: visible !important;
}
.notes_box {
	font-size: 0.9em;
    text-align:center;
	line-height: 18px;
	margin-top: 10px;
}
.notes_box li {
	text-decoration:underline;
	text-decoration-color:#333;
}
.notes_box li + li {
	margin-top: 5px;
}