@charset "utf-8";
body {
	line-height: 1.5;
	padding-bottom: 100px;
	min-height: 100%;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	position: relative;
	width:100%;
	max-width: 800px;
	min-width: 600px;
	margin-top: 50px;
	margin: 50px auto 0 auto;
}

a {
	color: #1e5799;
}
a:hover {
	text-decoration: none;
}
p + p {
	margin-top: 1.5em;
}

.small {
	font-size: 17px;
}
.big {
	font-size: 1.4em;
	line-height: 30px;
}

.form {
	max-width: 600px;
	margin: 15px auto;
}

/*
* ヘッダー
*/
header {
	background: #fff;
	border-bottom: 3px solid #004da1;
	color:#333;
	margin-bottom:15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	line-height: 25px;
}
header::after {
	content: "";
	display: block;
	clear: both;
}
header .header_wrap {
    width:100%;
    max-width:1024px;
	margin:0 auto;
}
header .header_wrap>div {
	height:100%;
	text-align:center;
}
header h2 {
	padding: 0.5em;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.logo  {
	margin: 0px auto;
	text-align:center;
	margin-bottom: 10px;
}
.logo img {
	width: 60%;
	max-width:240px;
}
.devfont {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 1.4em;
	line-height: 25px;
	font-weight: bold;
}


/*
* フッター
*/
footer {
	width:100%;
	height:36px;
	line-height:36px;
	font-size: 0.7em;
	text-align: center;
	background-color: #004da1;
	border-top: 1px solid #004da1;
	bottom: 0;
	left: 0;
}
footer>div {
	padding: 0 30px;
	color:#fff;
	position: relative;
    text-align: right;
}
footer>div>div {
	float:left;
}
footer .left {
	text-align: left;
}
footer .pc_right {
	position: absolute;
	right:10px;
	text-align: right;
}

.form_content {
	width:100%;
	margin: 0 auto;
	border: 1px solid #868686;
	background-color: #e5e5e5;
	padding: 25px;
	box-sizing: border-box;
}
.input {
	display: flex;
	line-height: 36px;
}
.input + .input {
	margin-top: 10px;
}
.input::after {
	content: "";
	display: block;
	clear: both;
}
.input div:first-child {
	/* float: left; */
	width: 180px;
	flex: 0 0 180px;
}
.input div:nth-of-type(2) {
	width: auto;
	flex: 1 1 auto;
	padding-left: 10px;
}
.input > div {
	position: relative;
}
.input .toggleDisplay-pw {
	cursor: pointer;
	width: 27px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
.input .toggleDisplay-pw img{
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
}
.inputName {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	color: #2258a9;
}
.inputName::after {
	display: none;
	content: "必須";
	flex: 0 0 auto;
	font-size: .8em;
	color: red;
	line-height: 1;
	border: 1px solid red;
	padding: 7px 12px 5px;
}
.input.isRequired .inputName::after {
	display: block;
}
.input.isAny .inputName::after {
	display: none;
}
.input input {
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
}
.input input[type="text"],
.input input[type="password"] {
	/* width: 370px; */
	width: 100%;
	height: 34px;
	padding-left: 5px;
	padding-right: 5px;
}
.input input[type="password"] {
	padding-right: 50px;
}
.input input[type="password"]::-ms-reveal,
.input input[type="text"]::-ms-reveal {
  visibility: hidden;
}
.input input[type="password"]::-ms-clear,
.input input[type="text"]::-ms-clear {
  visibility: hidden;
}
.input select {
	width: 15em;
	height: 34px;
	border: 1px solid #ccc;
}
.input label + label {
	margin-left: 15px;
}
#info {
	font-size: 14px;
	color: #F00;
	line-height: 20px;
	text-align: center;
	margin-top: 5px;
	height: 35px;
}
.login {
	margin-top: 20px;
	text-align: center;
}
.login a {
	margin: 0 auto;
	color: #fff;
	width: 200px;
	height: 40px;
	background-color: #2258a9;
	text-align: center;
	padding: 10px 80px;
	box-sizing: border-box;
	cursor: pointer;
}


.login a:hover {
	opacity: 0.7;
}

.login a[aria-disabled="true"] {
	pointer-events: none;
	color: #fff;
	background-color: #707080;
	cursor: default;
}
.login a[aria-disabled="true"]:hover {
	opacity: 1.0;
}

.pass_co {
	visibility: visible !important;
}
.notes_box {
	font-size: 0.9em;
    text-align:center;
	line-height: 20px;
	margin-top: 10px;
}
.notes_box li {
	text-decoration:underline;
	text-decoration-color:#333;
}
.notes_box li + li {
	margin-top: 5px;
}