.enqueteResult-open {
  height: 100%;
  overflow: hidden;
}
.enquete_result {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.enquete_result.is-inactive{
  display: none;
  pointer-events: none;
}
.enquete_result iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.enquete_result_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0,0,0,.7);
  padding: 20px;
  z-index: 1;
}
.enquete_result_content {
  color: #333;
  width: 100%;
  height: 100%;
  max-width: 1120px;
  max-height: 800px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* 閉じるボタン */
.enquete_result_closeButton {
  display: block;
  background-color: #333;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  right: 30px;
  border-radius: 100%;
  cursor: pointer;
}
.enquete_result_closeButton::before,
.enquete_result_closeButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px; /* 棒の幅（太さ） */
  height: 70%; /* 棒の高さ */
  background-color: #fff;
}

.enquete_result_closeButton::before {
  transform: translate(-50%,-50%) rotate(45deg);
}

.enquete_result_closeButton::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

@media screen and (max-width: 787px){
  .enquete_result_closeButton {
    width: 40px;
    height: 40px;
    top: 5px;
    right: 10px;
  }
}