.modal_layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.modal_layer_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0,0,0,.7);
  padding: 20px;
  z-index: 1;
}
.modal_layer_content {
  color: #333;
  width: 100%;
  /* height: 100%; */
  max-width: 600px;
  /* max-height: 700px; */
  background: #fff;
  padding: 30px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.modal_layer_container {
}
.modal_layer_title {
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 18px;
  font-weight: bold;
  color: #222;
  border-left: 7px solid #bc2db7;
  margin-bottom: 30px;
  padding-left: 7px;
}
.modal_layer_body {
  overflow: auto;
  max-height: 478px;
}
.modal_layer_closebutton{
  display: block;
  /* background-color: #333; */
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 100%;
  cursor: pointer;
}
.modal_layer_closebutton::before,
.modal_layer_closebutton::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 90%;
  background-color: #333;
}
.modal_layer_closebutton::before{
  transform: translate(-50%,-50%) rotate(45deg);
}
.modal_layer_closebutton::after{
  transform: translate(-50%,-50%) rotate(-45deg);
}
.modal_layer_closebutton:hover::before,
.modal_layer_closebutton:hover::after{
  opacity: .6;
}