@charset "utf-8"; html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	min-height: 100%;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a:hover {
	text-decoration: none;
}

/*
* ヘッダー
*/
header {
	width: 100%;
	background: #fff;
	color: #333;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 40px;
	line-height: 25px;
}
header .title {
	text-align: center;
}
header .logo {
	width: 100%;
	text-align: center;
	margin: 0px auto;
}

header .logo img {
	width: 300px;
}

header .small {
	font-weight: 300;
	display: block;
	font-size: 0.8em;
	margin-left: 1em;
}

.devfont {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	line-height: 30px;
	font-size: 1.4em;
	margin: 0;
}

/*
* フッター
*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 36px;
	font-size: 0.7em;
	text-align: center;
	background-color: #fff;
	border-top: 1px solid #eee7e7;
	margin-top: 20px;
	margin-bottom: 72px;
	padding: 9px 1em;
}

footer>div {
	padding: 9px 10px;
	line-height: 18px;
	color: #fff;
	position: relative;
}

#footerNavi {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

#footerNavi ul {
	height: 72px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 1px 0 #eee7e7 inset;
}

#footerNavi ul li {
	flex: 1 1 50%;
	font-size: 12px;
	text-align: center;
	padding-top: 44px;
	background-position: center 16px;
	background-size: auto 20px;
	background-repeat: no-repeat;
	flex-grow: 1;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#footerNavi ul li.live {
	background-image: url("../../img/icon_navi_01.png");
}

#footerNavi ul li.enquete {
	background-image: url("../../img/icon_navi_02.png");
}

#footerNavi ul li.message {
	background-image: url("../../img/icon_navi_03.png");
}

#footerNavi ul li.current {
	color: #fff;
	background-color: #be2bbb;
}

#footerNavi ul li.live.current {
	background-image: url("../../img/icon_navi_01_on.png");
}

#footerNavi ul li.enquete.current {
	background-image: url("../../img/icon_navi_02_on.png");
}

#footerNavi ul li.message.current {
	background-image: url("../../img/icon_navi_03_on.png");
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	flex: 1 0 auto;
	position: relative;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* padding: 10px 10px 36px 10px; */
}

/**
メインエリア
*/
.main, .main_ondemand {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto 5px;
}

.seminar_title {
	width: 100%;
	/* min-width: 1240px; */
	display: flex;
	align-items: center;
	background-color: #eee7e7;
}

.seminar_title h1 {
	/* width: 1240px; */
	height: 100%;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 4px 20px;
}

.seminar_schedule {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 10px auto;
}

.seminar_schedule p {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	font-size: 14px;
	text-align: right;
	margin: 0 auto;
	padding: 0 20px;
}

.movie {
	padding-bottom: 56.25%;
	position: relative;
}

.movie .livePlayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.gray {
	background-color: #eee;
	padding: 15px 20px 5px 20px;
}

iframe {
	width: 100%;
	height: 100%;
}

.bbs_iframe {
	height: 280px;
	margin-top: 5px;
}

/* liveInformation */
.liveInformation {
	font-size: 1em;
	font-weight: bold;
	color: #666;
	margin-top: 15px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.liveInformation ul + p, .liveInformation p + ul {
	margin-top: 1em;
}

.liveInformation .text01 {
	font-size: 1.1em;
	font-weight: normal;
}

.liveInformation .text01 + p {
	margin-top: 0.8em;
}

.liveInformation .notice {
	font-size: 0.8em;
	margin-top: 0.5em;
	font-weight: normal;
}

.liveInformation .notice li {
	margin-bottom: 0.5em;
}

.liveInformation .enquete {
	margin-top: 30px;
}

.liveInformation .enquete_title {
	display: flex;
	align-items: center;
	background-color: #be2bbb;
	min-height: 44px;
	font-size: 18px;
	padding: 8px 20px;
	color: #fff;
	line-height: 1.2;
}

.liveInformation .enquete_iframe {
	height: 300px;
	margin-top: 8px;
}

.liveInformation .enquete_iframe iframe {
	height: 100%;
}

/* Environment */
[data-environment="pc"] {
	display: none;
}
.environment {
	width: auto;
	margin-top: 20px;
}
.environment .card-content {
	padding: 0px 20px 15px;
}

div.topbox h3 {
	font-size: 0.8rem;
}

div.topbox li {
	font-size: 1.2rem;
}

div.topbox ul {
	margin-top: 4px;
}

.environment .win,
.environment .mac,
.environment .mac_sp,
.environment .android {
	float: none;
	margin-top: 15px;
	width: auto;
}

.question_text {
	font-size: 0.8em;
}

.qualityInfo {
	text-align: center;
	/* background-color: #fff; */
	height: 32px;
	line-height: 32px;
	font-weight: 700;
	text-decoration: underline;
	color: #333;
	margin: 5px 0;
}

.midashi_bar {
	background-color: #eee7e7;
	height: 32px;
	border-left: 10px solid #be2bbb;
	padding-left: 6px;
}

.midashi_bar p.small {
	display: flex;
	align-items: center;
	border-left: none;
	background-color: #eee7e7;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2em;
	padding: 0;
	color: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
}

.col_sub {
	padding-left: 10px;
	padding-right: 10px;
}

/**
* 段組みボタン（クオリティ選択用）　
**/
.btnColList {
	width: 100%;
	position: relative;
	margin: 10px 0;
}

.btnColList li {
	width: 96%;
	height: 50px;
	margin: 5px 2%;
}

/** 段組予定だったが、廃止しため。空白li非表示化 */
.btnColList>li div.none_pc {
	display: none;
}

.btnColList>li a, .btnColList>li p {
	width: 100%;
	display: block;
	text-align: center;
	background-color: #5050ff;
	background: linear-gradient(180deg, #be2bbb, #be2bbb);
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 1em;
	height: 50px;
	line-height: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none!important;
	color: #FFF;
	text-shadow: 0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
	border-radius: 5px;
	box-shadow: 0 2px 5px #ccc;
}

.btnColList>li p.none {
	background-color: transparent;
	background: none;
}

.btnColList>li a:hover {
	opacity: .6;
}

.btnColList:after {
	content: "";
	display: block;
	clear: both;
}
.btnitem-item {
  position: relative;
}
.btnitem-item::before,
.btnitem-item::after {
  content: "";
  background: no-repeat center center / 100% auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.btnitem-item::before {
  width: 34.46px;
  height: 36.48px;
  left: 17px;
}
.btnitem-item::after {
  width: 10px;
  height: 16px;
  background-image: url(../../img/icon_arrow2.png);
  right: 15px;
}
/* ボーディング履歴 */
.btnitem-voting {

}
.btnitem-voting::before {
  background-image: url(../../img/icon_voting.svg);
}
.btnitem-voting::after {
	display: none;
}
/* 通常アンケート */
.btnitem-enquete {

}
.btnitem-enquete::before {
  background-image: url(../../img/icon_normal_enquete.svg);
}
.btnitem-enquete::after {

}
/* プレイヤー切り替え */
.btnitem-view {

}
.btnitem-view::before {
  background-image: url(../../img/icon_view.svg);
}
.btnitem-view::after {

}
/* 関連リンク
******************************/
.relatedList {
}

.relatedList li {
	width: 100%;
	min-height: 44px;
	/*
background-color: #fff;
*/
	margin: 35px auto;
}

.relatedList a {
	display: block;
	height: 100%;
	font-size: 14px;
	line-height: 46px;
	text-decoration: none;
	/*
padding:0 18px 0 18px;
border-radius: 6px;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35);
background-position: right 16px center;
background-size: auto 11px;
background-image: url("../../img/icon_enquete_on.png");
background-repeat: no-repeat;
color:#444;
border:1px solid #777;
*/
}

.relatedList a:hover {
	opacity: .6;
}

.relatedList a img {
	width: 100%;
}

/* linkList01 */
.linkList01 li {
	width: 96%;
	height: 44px;
	margin: 5px 2%;
}

/**/
.seminarTitle {
	margin-bottom: 20px;
}

.seminarTitle-primary {
	background: linear-gradient(180deg, #1413FF, #6C98F8);
	box-sizing: border-box;
	padding: 15px 15px;
}

.seminarTitle-title {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
}

.seminarTitle-subTitle {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.seminarTitle-secondary {
	background: #E3FEFE;
	padding: 5px 15px;
}

.seminarTitle-date {
	color: #0E3698;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
}

.card-content-date ul {
	margin-top: 1em;
}

.card-content-date li span {
	display: block;
}

.btnColList > li {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.btnColList > li .dvrButton {
	background-color: #5050ff;
	background: linear-gradient(180deg, #5050ff, #4444ff);
	height: 46px;
	margin-right: auto;
	margin-left: auto;
	padding: 2px ​0;
}

.is-single-column {
	float: none !important;
	margin: 0 auto !important;
}

[data-show-mode] {
	display: none;
}

[data-view-mode="mode-playerView"] [data-show-mode="player"] {
	display: block;
}

[data-view-mode="mode-messageView"] [data-show-mode="message"] {
	display: block;
}

[data-view-mode="mode-enqueteView"] [data-show-mode="enquete"] {
	display: block;
}

/* コンテンツ 2022-08-22
******************************/
.p-content {
  display: block;

}
.p-content + .p-content{
  margin-top: 16px;
}
.p-content_item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% - 20px);
  max-width: 100%;
}
.p-content_item + .p-content_item {
  /* margin-left: 20px; */
}
.p-content_header {
  display: flex;
  align-items: center;
  /* height: 24px; */
  border-left: 7px solid #bc2db7;
  padding-left: 7px;
}
.p-content_header h2 {
  font-size: 18px;
  font-weight: bold;
  color: #222;
}
.p-content_header h2 span{
	display: block;
  font-size: 12px;
  font-weight: 100;
}
.p-content_header a {
  text-decoration: none;
}
.p-content_header_button {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #bc2db7;
  margin-left: auto;
  padding-right: 20px;
  position: relative;
}
.p-content_header_button::after {
  content: "";
  background: no-repeat center center / 100% auto;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.p-content_header_button:hover {
  opacity: .6;
}

.p-content_header_button.seeMore::after {
  width: 10px;
  height: 14px;
  background-image: url(../../img/icon_arrow1.png);
}
.p-content_header_button.expansionButton::after {
  width: 16px;
  height: 16px;
  background-image: url(../../img/icon_expansion.png);
}

.p-content_body {
  margin-top: 8px;
  background-color: #fff;
  padding: 15px 17px;
  box-shadow: 0 2px 5px #ccc;
}

/* ticker */
.r-ticker .p-content_body{
  height: 48px;
	padding: 10px 17px;
}
.ticker {

}
.ticker_item {
  /* height: 44px; */
}
.ticker_item p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 100;
  white-space: nowrap;
  padding: 0;
}

/* bbs */
/* form/cssで管理に変更 */
.p-content_item.r-bbs {
}
.p-content_item.r-bbs .p-content_body {
  background-color: #f8f5f5;
}


/* 質問ランキング */
.p-content_item.r-bbs {
}
.p-ranking {
  height: 275px;
  font-size: 14px;
  font-weight: 100;
  overflow: auto;
}
.p-ranking_item {
  display: flex;
  border-bottom: 1px solid #eee7e7;
}
.p-ranking_item:nth-of-type(1) {
  padding: 0 0 10px;
}
.p-ranking_item + .p-ranking_item {
  padding: 10px 0;
}
.p-ranking_item + .p-ranking_item {
  border-top: 1px solid #eee7e7;
}
.p-ranking_item::before{
  content: attr(data-rank);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  font-size: 12px;
  font-weight: 100;
  border-radius: 100%;
  margin-right: 5px;
}
.p-ranking-primary {
}
.p-ranking-primary::before {
  background-color: #debb0c;
  color: #fff;
}
.p-ranking-secondary {
}
.p-ranking-secondary::before {
  background-color: #9d9d9d;
  color: #fff;
}
.p-ranking-tertiary {
}
.p-ranking-tertiary::before {
  background-color: #a2500f;
  color: #fff;
}
.p-ranking-common {
}
.p-ranking-common::before {
  background-color: #ebebeb;
  color: #333;
}
.p-ranking_item > div{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}


/* リアルタイムアンケート（ボーディング） */
.p-content_item.r-voting .p-content_body{
  background-color: #f8f8f8;
  height: 400px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

/* 視聴ページ機能説明 */
.p-content_item.r-expansion {
  margin-top: 30px;
}
.p-content_item.r-expansion .p-content_body{
  height: 387px;
}
.p-content_item.r-expansion .p-expansion{
  height: 100%;
  overflow: auto;
}
.p-expansion {
  font-size: 14px;
  font-weight: 100;
}
.p-expansion li{

}
.p-expansion li + li{
  margin-top: 10px;
}
.p-expansion li em{
  font-style: normal;
  font-weight: bold;
}
