.p-postall {
}
.p-postall_item {
  border-bottom: 1px solid #f0eaea;
  margin-bottom: 8px;
  padding-bottom: 8px;
}
.p-postall_text {
  margin-bottom: 8px;
}
.p-postall_good {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.p-postall_good:hover::before {
  opacity: .6;
}

.p-postall_good span {
  margin-left: 8px;
}
.p-postall_good::before {
  content: "";
  display: block;
  background: no-repeat url(../../img/icon_good.png) center center / 100% auto;
  width: 23px;
  height: 22px;
  filter: grayscale(100%);
}
.p-postall_good.liked {
  cursor: default;
}
.p-postall_good.liked::before {
  filter: none;
}
.p-postall_good.liked:hover::before {
  opacity: 1;
}
