/* ticker */
.r-ticker .p-content_body{
  height: 48px;
  padding: 10px 17px;
}
.ticker {

}
.ticker_item {
  /* height: 44px; */
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.ticker_item p {
  /* overflow: hidden;
  text-overflow: ellipsis; */
  font-size: 18px;
  font-weight: 100;
  white-space: nowrap;
  padding: 0;
}

.ticker_item {
  height: 1.3em;
  overflow: hidden;
}

.ticker_item.inActive,
.ticker_item.isActive {
  display: block;
  height: auto;
}

.ticker_item p {
  display: none;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ticker_item.isActive p {
  display: inline-block;
  padding-left: 100%;
}
.ticker_item.inActive p {
  display: block;
  animation: none;
}


@keyframes loop {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  .ticker_item.isActive p {
    animation: loop 20s 0s linear infinite;
  }
}

@media screen and (max-width: 767px) {
  .ticker_item.isActive p {
    animation: loop 20s 0s linear infinite;
  }
}