@charset "utf-8"; /* CSS Document */
html {
  min-width: 1240px;
}
body {
  line-height: 1.5;
  min-height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sp_br {
  display: none;
}

/*
* ヘッダー
*/
header {
  width: 100%;
  background: #fff;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
}

header .header_wrap {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 45px;
  margin: 0 auto;
  padding: 5px 20px;
}

header .header_wrap>div {
  display: flex;
  align-items: center;
  /* flex: 0 1 auto; */
  height: 100%;
}

header .logo img,
header .logo2 img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
header .logo {
  flex: 0 1 162px;
}
header .logo2 {
  flex: 0 1 342px;
  margin-left: auto;
}
header .title {
  flex: 0 1 auto;
  font-size: 19px;
  font-weight: normal;
  margin-left: 20px;
}

header .devfont {
  line-height: 50px;
  font-size: 1.5em;
  margin-top: 5px;
}

header .small {
  font-weight: 300;
  font-size: 0.8em !important;
  margin-left: 1em;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/*
* フッター
*/
footer {
  position: relative;
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 0.7em;
  text-align: center;
  background-color: #0095FF;
  border-top: 1px solid #0095FF;
  bottom: 0;
  left: 0;
}

footer>div {
  padding: 0 30px;
  color: #fff;
  position: relative;
}

footer>div>div {
  float: left;
}

footer .left {
  text-align: left;
}

footer .pc_right {
  position: absolute;
  right: 10px;
  text-align: right;
}


a:hover {
  text-decoration: none;
}

.devfont {
  font-size: 1.1em;
  margin: 0;
  margin-left: 0;
  line-height: 40px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: bold;
}

.devfont * {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.devfont .small {
  font-size: 0.8em;
}

.li {
  display: block;
  float: right;
  margin-top: 2px;
  margin-left: 15px;
}

.container {
  width: 100%;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

/**
メインエリア
*/
.main {
  width: 1200px;
  margin: 10px auto 15px;
  margin: 0 auto 15px;
  padding: 8px 18px 0;
}

.main_close {
  width: 100%;
  max-width: 1020px;
  margin: 15px auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.seminar_title {
  width: 100%;
  min-width: 1200px;
  display: flex;
  align-items: center;
  background-color: #eee7e7;
  min-height: 52px;
}

.seminar_title h1 {
  width: 1200px;
  height: 100%;
  font-size: 22px;
  font-weight: bold;
  margin: 0 auto;
  padding: 8px 20px;
}

.seminar_schedule {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 10px auto 0;
}

.seminar_schedule p {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  text-align: right;
  margin: 0 auto;
  padding: 0 20px;
}

.movie {
  padding-bottom: 56.25%;
  position: relative;
}

.movie .livePlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.mt20 {
  margin-top: 20px !important;
}

iframe {
  width: 100%;
  height: 100%;
}

.bbs_iframe {
  height: 271px;
  /* margin-top: 10px; */
}

/**
* プレイヤー段組
*/
.player_area {
  display: flex;
  width: 100%;
  margin: 10px auto 0;
  /* padding: 0 20px; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.player_area>div {
}

.player_area .col_main {
  width: 768px;

}

.player_area .col_all {
  width: 640px;
  margin: 0 auto;
  float: none;
}

.player_area .col_sub {
  width: 373px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 0 23px;
}

.player_area:after {
  /* content: "."; */
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* liveInformation */
.liveInformation {
  font-size: 14px;
  font-weight: bold;
  /* color: #666; */
  margin-top: 19px;
}

.liveInformation ul+p, .liveInformation p+ul {
  margin-top: 1em;
}

.liveInformation .text01 {
  font-size: 18px;
  font-weight: normal;
}

.liveInformation .text01+p {
  margin-top: 1em;
}

.liveInformation .notice {
  font-weight: normal;
  margin-top: .5em;
  margin-bottom: 38px;

}

.liveInformation .enquete {
  margin-top: 30px;
}

.liveInformation .enquete_title {
  display: flex;
  align-items: center;
  background-color: #be2bbb;
  min-height: 47px;
  font-size: 18px;
  padding: 12px 20px;
  color: #fff;
  line-height: 1.2;
}

.liveInformation .enquete_iframe {
  margin-top: 8px;
}

.liveInformation .enquete_iframe iframe {
  height: 383px;
}

/* Environment */
[data-environment="sp"] {
	display: none;
}

.qualityInfo {
  text-align: center;
  /* background-color: #fff; */
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-weight: 700;
  text-decoration: underline;
  margin-top: 8px;
  margin-bottom: 5px;
}

.midashi_bar {
  display: flex;
  align-items: center;
  background-color: #eee7e7;
  height: 42px;
  border-left: 10px solid #be2bbb;
  padding-left: 10px;
}

.midashi_bar p.small {
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  margin: 0;
  padding: 0;
  border-left: none;
}

/**
* 段組みボタン（クオリティ選択用）　
**/
.btnColList {
  width: 100%;
  position: relative;
  margin-top: 8px;
  margin-bottom: 10px;
}

.btnColList li {
  width: 100%;
  margin: 10px auto;
}

.btnColList>li div {
  height: 56px;
  line-height: 56px;
  box-shadow: 0 2px 5px #ccc;
}

.btnColList>li div.none_pc {
  display: none;
}

.btnColList>li a,
.btnColList>li p {
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: #be2bbb;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none !important;
  color: #FFF;
  text-shadow: 0px 0px 0px rgb(255 255 255 / 60%), -1px -1px 0px rgb(102 102 102 / 60%);
  box-shadow: 0 2px 5px #ccc;
  padding-left: 64px;
  padding-right: 40px;
}

.btnColList > li a:hover,
.btnColList > li p:hover{
  opacity: .6;
}
.btnitem-item {
  position: relative;
}
.btnitem-item::before,
.btnitem-item::after {
  content: "";
  background: no-repeat center center / 100% auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.btnitem-item::before {
  width: 34.46px;
  height: 36.48px;
  left: 17px;
}
.btnitem-item::after {
  width: 10px;
  height: 16px;
  background-image: url(../../img/icon_arrow2.png);
  right: 15px;
}
/* ボーディング履歴 */
.btnitem-voting {

}
.btnitem-voting::before {
  background-image: url(../../img/icon_voting.svg);
}
.btnitem-voting::after {
  display: none;
}
/* 通常アンケート */
.btnitem-enquete {

}
.btnitem-enquete::before {
  background-image: url(../../img/icon_normal_enquete.svg);
}
.btnitem-enquete::after {

}
/* プレイヤー切り替え */
.btnitem-view {

}
.btnitem-view::before {
  background-image: url(../../img/icon_view.svg);
}
.btnitem-view::after {

}
/* 関連リンク
******************************/
.relatedList {
  margin-top: 30px;
}

.relatedList li {
  margin: 0 auto;
}

.relatedList a {
  display: block;
  height: 100%;
  padding: 0 18px 0 18px;
  font-size: 14px;
  line-height: 46px;
  text-decoration: none;
}

.relatedList a:hover {
  opacity: .6;
}

.relatedList a img {
  width: 100%;
}

/* linkList01 */
.linkList01 li {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* */
.seminarTitle {
  margin-bottom: 20px;
}

.seminarTitle-primary {
  background: linear-gradient(180deg, #1413FF, #6C98F8);
  box-sizing: border-box;
  line-height: 1.2;
  padding: 25px 20px 15px 20px;
}

.seminarTitle-title {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

.seminarTitle-subTitle {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.seminarTitle-secondary {
  background: #E3FEFE;
  padding: 7px 15px 7px 6px;
}

.seminarTitle-date {
  color: #0E3698;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.btnColList>li .dvrButton {
  background-color: #289de9;
  background: linear-gradient(180deg, #289de9, #289de9);
  width: 252px;
  height: 46px;
  margin-right: auto;
  margin-left: auto;
  padding: 2px 0;
}

.is-single-column {
  float: none !important;
  margin: 0 auto !important;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  min-width: 1240px;
  height: 50px;
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
  padding: 0 10px;
  border-top: none;
}

.narrowOnly {
  display: none !important;
}



/* コンテンツ 2022-08-22
******************************/
.p-content {
  display: flex;
  /* gap: 20px; */

}
.p-content + .p-content{
  margin-top: 16px;
}
.p-content_item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% - 20px);
  max-width: 100%;
}
.p-content_item + .p-content_item {
  margin-left: 20px;
}
.p-content_header {
  display: flex;
  align-items: center;
  height: 24px;
  border-left: 7px solid #bc2db7;
  padding-left: 7px;
}
.p-content_header h2 {
  font-size: 18px;
  font-weight: bold;
  color: #222;
}
.p-content_header h2 span{
  font-size: 10px;
  font-weight: 100;
}
.p-content_header a {
  text-decoration: none;
}
.p-content_header_button {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #bc2db7;
  margin-left: auto;
  padding-right: 20px;
  position: relative;
}
.p-content_header_button::after {
  content: "";
  background: no-repeat center center / 100% auto;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.p-content_header_button:hover {
  opacity: .6;
}
.p-content_header_button.seeMore {
  font-size: 13px;
  padding-right: 15px;
}
.p-content_header_button.seeMore::after {
  width: 10px;
  height: 14px;
  background-image: url(../../img/icon_arrow1.png);
}
.p-content_header_button.expansionButton::after {
  width: 16px;
  height: 16px;
  background-image: url(../../img/icon_expansion.png);
}

.p-content_body {
  margin-top: 8px;
  background-color: #fff;
  padding: 15px 17px;
  box-shadow: 0 2px 5px #ccc;
}



/* bbs */
/* form/cssで管理に変更 */
.p-content_item.r-bbs {
  /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 10px); */
}
.p-content_item.r-bbs .p-content_body {
  background-color: #f8f5f5;
}
/* .p-content_item.r-bbs .form_item_form_container {
  font-weight: 100;
}
.p-content_item.r-bbs .form_item_form_container label {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  font-size: 14px;
}
.p-content_item.r-bbs .form_item_form_container label + label{
  margin-left: 12px;
}
.p-content_item.r-bbs .form_item_form_container input,
.p-content_item.r-bbs .form_item_form_container textarea {
  font-size: 16px;
  font-weight: inherit;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
  padding: 5px;
} */
/* .p-content_item.r-bbs .form_item_form_container input {
  width: 160px;
  height: 36px;
  margin-left: 4px;
}
.p-content_item.r-bbs .form_item_form_container textarea {
  width: 100%;
  min-height: 132px;
  margin-top: 14px;
  resize: vertical;
}
.p-content_item.r-bbs .form_item_form_container textarea::placeholder {
  color: #bcbcbc;
}
.p-content_item.r-bbs button[type=button] {
  padding: 0;
  background-color: transparent;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(188, 45, 183);
  width: 149px;
  height: 40px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  border-radius: 50px;
  margin: 12px auto 0;
} */

/* 質問ランキング */
.p-content_item.r-bbs {
  /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 10px); */
}
.p-ranking {
  height: 275px;
  font-size: 14px;
  font-weight: 100;
  overflow: auto;
}
.p-ranking_item {
  display: flex;
  border-bottom: 1px solid #eee7e7;
  padding-right: .5em;
  padding-left: .5em;
}
.p-ranking_item:nth-of-type(1) {
  padding-bottom: 10px;
}
.p-ranking_item + .p-ranking_item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-ranking_item::before{
  content: attr(data-rank);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  font-size: 12px;
  font-weight: 100;
  border-radius: 100%;
  margin-right: 5px;
}
.p-ranking-primary {
}
.p-ranking-primary::before {
  background-color: #debb0c;
  color: #fff;
}
.p-ranking-secondary {
}
.p-ranking-secondary::before {
  background-color: #9d9d9d;
  color: #fff;
}
.p-ranking-tertiary {
}
.p-ranking-tertiary::before {
  background-color: #a2500f;
  color: #fff;
}
.p-ranking-common {
}
.p-ranking-common::before {
  background-color: #ebebeb;
  color: #333;
}
.p-ranking_item > div{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}


/* リアルタイムアンケート（ボーディング） */
.p-content_item.r-voting .p-content_body{
  background-color: #f8f8f8;
  height: 400px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

/* 視聴ページ機能説明 */
.p-content_item.r-expansion {
  margin-top: 8px;
}
.p-content_item.r-expansion .p-content_body{
  height: 433px;
}
.p-content_item.r-expansion .p-expansion{
  height: 100%;
  overflow: auto;
}
.p-expansion {
  font-size: 14px;
  font-weight: 100;
}
.p-expansion li{
  padding: 0 .5em;
}
.p-expansion li + li{
  margin-top: 10px;
}
.p-expansion li em{
  font-style: normal;
  font-weight: bold;
}

