@charset "utf-8";
/* CSS Document */
body {
	line-height: 1.5;
	padding-bottom: 30px;
	min-height: 100%;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
* ヘッダー
*/
header {
    width:100%;
	background: #fff;
	border-bottom: 3px solid #004da1;
	color:#333;
	margin: 0 auto 15px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:5px 10px !important;
    height:60px;
}
header .header_wrap {
    width:100%;
    max-width:1024px;
	margin:0 auto;
	display: flex;
}
header .header_wrap>div {
    height:100%;
}
header .logo img {
	margin: 15px 20px 0 5px;
	height: 30px;
}
header .title {
	line-height: 25px;
	height: 20px;
	top: 0px;
	left: 200px;
}
header .devfont {
	line-height: 50px;
	font-size: 1.5em;
	margin-top:5px;
}
header .small {
	font-weight:300;
	font-size: 0.8em !important;
}
header::after {
	content: "";
	display: block;
	clear: both;
}
.inner {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}


/*
* フッター
*/
footer {
	position: relative;
	width:100%;
	height:36px;
	line-height:36px;
	font-size: 0.7em;
	text-align: center;
	background-color: #004da1;
	border-top: 1px solid #004da1;
	bottom: 0;
	left: 0;
}
footer>div {
	padding: 0 30px;
	color:#fff;
	position: relative;
    text-align: right;
}
footer>div>div {
	float:left;
}
footer .left {
	text-align: left;
}
footer .pc_right {
	position: absolute;
	right:10px;
	text-align: right;
}

a {
	color: #1e5799;
}
a:hover {
	text-decoration: none;
}

.devfont {
	font-size: 1.1em;
	margin: 0;
	margin-left: 0;
	line-height:40px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;

	font-weight: bold;
}
.devfont * {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.devfont .small {
	font-size: 0.8em;
}
.li {
	display: block;
	float: right;
	margin-top: 2px;
	margin-left: 15px;
}
.container {
	width: 100%;
}
.container::after {
	content: "";
	display: block;
	clear: both;
}

/**
 メインエリア
*/
.main {
    width:1020px;
	margin: 15px auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main_close {
    width:100%;
    max-width:1020px;
	margin: 15px auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.movie {
	padding-bottom: 56.25%;
	position: relative;
}
.movie .livePlayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.mt20 {
	margin-top: 20px !important;
}

iframe {
	width: 100%;
}

.bbs_iframe {
	height:240px;
}

.startDate {
	width: 100%;
	font-size: 18px;
	/* font-weight: bold; */
	text-align: right;
	margin: -5px auto;
	padding: 0 32px;
	box-sizing: border-box;
}

/**
* プレイヤー段組
*/
.player_area {
    width:100%;
	margin: 15px auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.player_area >div {
	float:left;
}
.player_area .col_main {
	width:640px;
}
.player_area .col_all {
	width:640px;
	margin: 0 auto;
	float: none;
}

.player_area .col_sub {
    width:280px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0 10px;
}
.player_area:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}


/* liveInformation */
.liveInformation {
	font-size: 14px;
	font-weight: bold;
	color: #666;
	margin-top: 30px;
}
.liveInformation ul + p,
.liveInformation p + ul {
	margin-top: 1em;
}
.liveInformation .text01 {
	font-size: 18px;
}
.liveInformation .text01 + p {
	margin-top: 1em;
}
.liveInformation .notice {
	margin-top: 1.5em;
}

.quolityInfo {
	text-align:center;
	background-color: #fff;
	width: 100％;
	height: 32px;
	line-height: 32px;
	font-weight:700;
	text-decoration: underline;
	color: #333;
	margin:5px 0;
}

.enqueteInfo {
	text-align: center;
	background-color: #fff;
	line-height: 1;
	color: #333;
	margin: 20px 0 0;
	font-size: 14px;
}

/**
* 段組みボタン（クオリティ選択用）　
**/
.btnColList {
	width:100%;
    position: relative;
	margin:10px 0;
}
.btnColList li {
	width:90%;
	margin:10px auto;
}
.btnColList>li div {
    height:44px;
    line-height:44px;
}
.btnColList>li div.none_pc {
    display:none;
}
.btnColList>li a, .btnColList>li p  {
	width:100%;
	display: block;
	text-align:center;
	background-color: #004da1;
	background: linear-gradient(180deg, #004da1, #004da1);
	border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1.2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    text-decoration:none!important;
	color: #FFF;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
}
.btnColList>li a:hover{
	filter:alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)"; /* IE 8 */
	-moz-opacity: 0.8;
	opacity: 0.8;
}