body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
*, ::before, ::after{
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}
p, ol, ul, li {
  margin: 0;
  padding: 0;
}
.answer{
  padding: 32px;
}

.wrapper + .wrapper{
  margin-top: 32px
}
.container{
  border: 1px solid;
  padding: 32px;

}
.container + .container{
  margin-top: 64px;
}
.title{
  color: #a0a0a0;
  font-size: 26px;
  border-bottom: 1px solid #e6e6e6;
  padding: 16px 0 32px;
}
.list{
  display: grid;
  gap: 40px;
  column-gap: 63px;
  padding-top:40px;
}
.list li{
  display: grid;
  grid-template-columns: 64px 1fr 128px;
  grid-template-rows: 24px 26px;
  gap: 14px 16px;
  grid-template-areas:
      "number choice value"
      "number bar value";
}
.list li > * {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.number {
  grid-area: number;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  background-color: #a0a0a0;
}
.choice {
  color: #a0a0a0;
  line-height: 1;
  overflow: hidden;
  font-size: 24px;
  grid-area: choice;
}
.choice p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bar {
  background-color: #f5f5f5;
  grid-area: bar;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.bar span{
  display: block;
  height: 100%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #a0a0a0;
  transition: width 1s;
}
.value {
  grid-area: value;
  font-size: 21px;
  text-align: right;
  color: #a0a0a0;
}
.value span {
  font-size: 32px;
  font-weight: 700;
}

.wait_text {
  text-align: center;
  padding: 62px 0 24px;
}

.wait_text p{
  font-size: 20px;
  color: #a0a0a0;
}
.loading {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.loading::after{
  content: "";
  display: block;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 10px solid #e9e9e9;
  border-top-color: #525252;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  position: absolute;
  top: calc(50vh - 40px);
  left: calc(50% - 40px);
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 787px){
  .container {
    padding: 16px;
  }
  .container + .container {
    margin-top: 32px;
  }
  .title {
    font-size: 18px;
    padding: 8px 0 16px;
  }
  .answer {
    padding: 16px;
  }
  .value {
    font-size: 16px;
  }
  .value span {
    font-size: 16px;
  }
  .list {
    padding-top: 20px;
  }
  .list li {
    grid-template-columns: 46px 1fr 70px;
    grid-template-rows: 16px 16px;
    gap: 10px 12px;
  }
  .number {
    font-size: 16px;
  }
  .choice {
    font-size: 16px;
  }

}