.index{
  &-continer{
    background: no-repeat url(../images/index_bg-01.png) right bottom / 400px auto;
    width: 100%;
    max-width: 80%;
    min-height: calc(100vh - 40px);
    margin-right: auto;
    margin-left: auto;
  }
  &-wrap{
    padding-top: 40px;
  }
  &-flex{
    &-col{
      display: flex;
      justify-content: center;
      gap: 20px;
      &-item{
        flex: 1 1 50%;
      }
    }
  }
  &-listBlock{
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 10px;
    &-title{
      font-size: 18px;
    }
  }
  &-header{
    font-size: 20px;
    border-bottom: 1px solid #333;
  }
  &-lists{
    li{
      font-size: 16px;
      margin-top: 10px;
      &::before{
        content: "- ";
        font-size: inherit;
      }
      a{
        font-size: inherit;
        text-decoration: none;
      }
    }
  }
}