
@mixin d-flex($display, $justify, $align, $wrap: wrap) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

// flex, 上左寄せ
@mixin flex-start {
  @include d-flex(flex, flex-start, flex-start);
}
// flex, 下右寄せ
@mixin flex-end {
  @include d-flex(flex, flex-end, flex-end);
}
// flex, 中央左寄せ
@mixin flex-left {
  @include d-flex(flex, flex-start, center);
}
// flex, 中央寄せ
@mixin flex-center {
  @include d-flex(flex, center, center);
}
// flex, 中央右寄せ
@mixin flex-right {
  @include d-flex(flex, flex-end, center);
}
// inline-flex, 上左寄せ
@mixin flexinline-start {
  @include d-flex(inline-flex, flex-start, flex-start);
}
// inline-flex, 下右寄せ
@mixin flexinline-end {
  @include d-flex(inline-flex, flex-end, flex-end);
}
// inline-flex, 左中央寄せ
@mixin flexinline-left {
  @include d-flex(inline-flex, flex-start, center);
}
// inline-flex, 中央寄せ
@mixin flexinline-center {
  @include d-flex(inline-flex, center, center);
}
// inline-flex, 右中央寄せ
@mixin flexinline-right {
  @include d-flex(inline-flex, flex-end, center);
}


// // flex, 上左寄せ
// @mixin flex-start($wrap: wrap, $stretch) {
//   @include d-flex(flex, flex-start, $stretch: flex-start, $wrap);
// }
// // flex, 下右寄せ
// @mixin flex-end($wrap: wrap, $stretch) {
//   @include d-flex(flex, flex-end, $stretch: flex-end, $wrap);
// }
// // flex, 中央左寄せ
// @mixin flex-left($wrap: wrap, $stretch) {
//   @include d-flex(flex, flex-start, $stretch: center, $wrap);
// }
// // flex, 中央寄せ
// @mixin flex-center($wrap: wrap, $stretch) {
//   @include d-flex(flex, center, $stretch: center, $wrap);
// }
// // flex, 中央右寄せ
// @mixin flex-right($wrap: wrap, $stretch) {
//   @include d-flex(flex, flex-end, $stretch: center, $wrap);
// }
// // inline-flex, 上左寄せ
// @mixin flexinline-start($wrap: wrap, $stretch) {
//   @include d-flex(inline-flex, flex-start, $stretch: flex-start, $wrap);
// }
// // inline-flex, 下右寄せ
// @mixin flexinline-end($wrap: wrap, $stretch) {
//   @include d-flex(inline-flex, flex-end, $stretch: flex-end, $wrap);
// }
// // inline-flex, 左中央寄せ
// @mixin flexinline-left($wrap: wrap, $stretch) {
//   @include d-flex(inline-flex, flex-start, $stretch: center, $wrap);
// }
// // inline-flex, 中央寄せ
// @mixin flexinline-center($wrap: wrap, $stretch) {
//   @include d-flex(inline-flex, center, $stretch: center, $wrap);
// }
// // inline-flex, 右中央寄せ
// @mixin flexinline-right($wrap: wrap, $stretch) {
//   @include d-flex(inline-flex, flex-end, $stretch: center, $wrap);
// }



