@charset "UTF-8";
/* CSS Document */

.btnTestPage {
	display: none;
}
.btnTestPage-show {
	display: block;
}

body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1;
	background-color: #F0F0F0;
}
a {
	color: #ea5504;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
 .title01 {
	font-size: 32px;
	font-weight: bold;
}
.title02 {
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 20px;
	background-color: #6CC42A;
}
.title02 span {
	border-left: 5px;
	padding-left: 10px;
}
.title03 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 15px;
}
.title03:first-child {
	margin-top: 0px;
}
.title04 {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 10px;
	border-left: 5px solid #004D2B;
	padding: 5px;
	background-color: #F0F2F5 !important;
	color: #000 !important;
}
.indn6em {
	text-indent: 6em;
}
.inner01 {
	padding: 0px 20px;
}
#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1014px;
	background-color: #ffffff;
}
#contents {
	line-height: 1.5;
	overflow: hidden;
	zoom: 1;
}
#main {
	font-size: 16px;
	width: 720px;
	float: left;
}
#side {
	font-size: 12px;
	width: 240px;
	float: right;
}
#header {
	margin-bottom: 20px;
	border-bottom: 1px solid #ECEEF3;
}
#header .logo01 {
	margin-top: 20px;
	margin-bottom: 10px;
	float: left;
}
#header .logo02 {
	float: right;
	margin-top: 20px;
}
#header .inner01 {
	position: relative;
}
#header .sponsorship {
	position: absolute;
	top: 40px;
	right: 25px;
}
.pageTitle {
	color: #ffffff;
	line-height: 1.25;
	padding: 15px 20px;
	background-color: #6CC42A;
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
	-webkit-box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
	-moz-box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
}
.pageTitle h1 {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 10px;
}
.pageTitle h1 span {
	font-size: 20px;
	font-weight: normal;
}
.pageTitle p {
	font-size: 20px;
	margin-top: 10px;
}
.pageTitle h2 {
	font-size: 20px;
}
.pageTitle h2 span {
	font-size:24px;
}
.txtbox {
	background-color: #E0F4D0;
	margin: 0 auto 20px auto;
	padding: 15px;
}
.section01 {
	margin-top: 20px;
	margin-bottom: 11px;
}
.section01#required {
	box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
	-webkit-box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
	-moz-box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
}
.sectionBody01 {
	padding: 20px 15px;
}
.sectionBody02 {
	padding: 10px 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-size: 11px;
    font-weight: bold; 
}
.support {
	display: block;
	background-color: #767171;	font-size:12px;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
	-webkit-box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
	-moz-box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
}
#side .section02 p {
	margin-bottom: 10px;
}
#side ul {
	margin-bottom: 10px;
}
#side .name01 {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 5px;
}
#footer {
	border-top: 1px solid #7F7F7F;
	padding: 15px 20px;
}
#footer .copyright {
	font-size: 10px;
	text-align: center;
}



/* --------------------------------------------------
	ボタン類
-------------------------------------------------- */
#side .btn01 {
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background-color: #808080;
	border: 3px solid #808080;
	padding: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#side .btn01.btn01-02 {
	font-size: 16px;
	padding: 10px;
}
#side .btn02 {
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background-color: #f6ad3c;
	padding: 10px 10px 10px 35px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-image: url(../images/arrow_01.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
	-webkit-box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
	-moz-box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
}

.btn06 {
    background-color: #0584e4;
    background-image: url("../images/arrow_01.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 3px 3px 5px -1px rgb(170, 170, 170);
    color: #fff !important;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 10px 13px 35px;
    text-align: center;
}

#side .btn04 {
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background-color: #d2691e;
	border: 2px solid #d2691e;
	padding: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#side .btn05 {
	display: block;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background-color: #d2691e;
	padding: 10px 10px 10px 35px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-image: url(../images/arrow_02.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
	-webkit-box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
	-moz-box-shadow:rgb(170, 170, 170) 3px 3px 5px -1px;
}


#side a.btn01:hover,
#side a.btn02:hover, 
#side a.btn04:hover,
#side a.btn05:hover,
#side a.btn06:hover
		{
	text-decoration: none;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	font-weight: bold;
}
#main .btn03 {
	background-color: #4d8528;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 540px;
	padding: 3px;
}
#main .btn03 a {
	display: block;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	border: 1px solid #ABDC8C;
	padding: 20px 10px 20px 50px;
	background-image: url(../../../html/common/images/icon_01.png);
	background-repeat: no-repeat;
	background-position: 30px center;
}
#main .btn03:hover {
	text-decoration: none;
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}
#main .btn03:hover a {
	text-decoration: none;
}



/* --------------------------------------------------
	プレーヤーページ
-------------------------------------------------- */
#main .player {
	height: 439px;
	margin-bottom: 10px;
}
#main .howto {
	font-size: 11px;
}
#side .form01 {
	width: 100%;
	height: 300px;
	border-style: none;
    margin-bottom: 5px;
}
#side .currentMode {
	font-size: 15px;
	text-align: center;
}
#contents .requiredList {
	overflow: hidden;
	zoom: 1;
}
#contents .requiredList dt {
	float: left;
	clear: both;
}
#contents .requiredList dd {
	margin-left: 10em;
}
.loading {
	height: 400px;
	background-image: url(../images/loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
.loading * {
	display: none;
}
#side .guideText {
	margin-top: 20px;
	margin-bottom: 6px;
	font-weight: bold;
	text-align: center; 
}
#enquete,
#enquete_off {
	padding: 30px 0 10px;
}
#enquete p,
#enquete_off p {
    background: url(../images/btn_enquete.gif) no-repeat;
    width: 400px;
    height: 60px;
    text-decoration: none;
    font-size: 18px;
    line-height: 59px;
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	color: #FFF !important;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
	text-decoration: none;
}
#enquete_off p {
	background: url(../images/btn_enquete_off.gif) no-repeat;
	color: #666 !important;
	text-shadow: none;
}
#enquete a{
	width: 400px;
	height: 59px;
	margin: 0 auto;
	color: #FFF !important;
}
#enquete a:link{
	width: 400px;
	height: 59px;
	display:block;
	filter:alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)"; /* IE 8 */
	-moz-opacity: 1;
	opacity: 1;
	font-weight: bold;
	color: #FFF !important;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
	text-decoration: none;
}
#enquete a:hover{
	width: 400px;
	height: 59px;
	display:block;
	filter:alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)"; /* IE 8 */
	-moz-opacity: 0.8;
	opacity: 0.8;
	font-weight: bold;
	color: #FFF !important;
	text-shadow:0px 0px 0px rgba(255,255,255,0.6),-1px -1px 0px rgba(102,102,102,0.6);
	text-decoration: none;
}

.btnDispOff {
	display: none !important;
}



/* --------------------------------------------------
	プレーヤーページ
-------------------------------------------------- */
#buttonBlock {
	letter-spacing: -.5em;
	text-align: center;
	width: 720px;
	padding: 30px 0 10px;
}
#buttonBlock.withProductButton {
	width: 100%;
}
#buttonBlock #enquete,
#buttonBlock #enquete_off {
	padding: 0;
}
#buttonBlock #enquete p,
#buttonBlock #enquete_off p,
#buttonBlock #enquete a {
    margin: 0;
}
#buttonBlock > div {
	letter-spacing: normal;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}
#buttonBlock .buttonProduct01 a {
	text-align: center;
	display: inline-block;
    width: 400px;
    height: 59px;
    text-decoration: none;
    font-size: 18px;
    line-height: 59px;
	text-align: center;
	font-weight: bold;
	color: #FFF !important;
}
#buttonBlock .buttonProduct01 a:hover {
	filter:alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)"; /* IE 8 */
	-moz-opacity: 0.8;
	opacity: 0.8;
}
