:root {
  --height: 18px;
}
html,body {
  margin: 0px;
  padding: 0px;
  -webkit-text-size-adjust: none;
  font-family: NotoSans, sans-serif;
  font-weight: 100;
}
.ticker_container {
  display: block;
  position: relative;
}

.ticker_container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .ticker_container {
    height: calc(18px * 1.5);
    height: calc(var(--height) * 1.5);
  }
}

@media screen and (max-width: 767px) {
  .ticker_container {
    height: calc(18px * 1.5);
    height: calc(var(--height) * 1.5);
  }
}