.wrapper {
  margin: 50px auto 0;
}

/* header */
.header {
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.header_inner {
  /* border-bottom: 3px solid #00a5d9; */
  padding: 5px;
}

.header_title {
  font-size: 1.4em;
  line-height: 25px;
  font-weight: bold;
}

.header_subTitle {
  margin-top: 10px;
}

.main {
  padding: 0 10px 36px;
}

.main_container {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #eee7e7;
  padding: 25px 10px;
}

.main_logo {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0 2%;
}

/* form */
.form {
  margin-top: 30px;
}

.form_content {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.form_list {
  /* background-color: #e5e5e5; */
  /* border: 1px solid #868686; */
  margin-bottom: 30px;
}

.form_list_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 34px; */
}

.form_list_item + .form_list_item {
  margin-top: 10px;
}

.form_input {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  order: 0;
}

.form_input_label {
  display: inline-block;
  /* width: 120px; */
  font-weight: bold;
  /* color: #00a5d9; */
}

.form_input_text {
  width: 100%;
  height: 34px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form_login {
  display: flex;
  flex: 0 1 auto;
  width: 100%;
  margin-top: 10px;
  order: 2;
}

.form_submit {
  width: 100%;
  height: 40px;
  appearance: none;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #be2bbb;
  border-radius: 5px;
}

.form_error {
  width: 100%;
  color: red;
  padding: 10px 0 0;
  order: 1;
}

.form_notes {
  padding-left: 25px;
  padding-right: 25px;
}

.form_notes:empty {
  margin: 0;
}

.form_notes li {
  margin-top: 5px;
  text-decoration: underline;
  text-decoration-color: #333;
}

.form_notes li:first-child {
  margin-top: 10px;
}

.form_notes li:blank {
  margin: 0 !important;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee7e7;
  width: 100%;
  font-size: 0.7em;
  text-align: center;
  padding: 10px;
}
